[2020-03-06 01:44] dkavaler opened #1785 "DenoisingDataset EOS token not set properly for MultilingualDenoisingTask when --add-lang-token is set"
## 🐛 Bug

The [collater function](https://github.com/pytorch/fairseq/blob/master/fairseq/data/denoising_dataset.py#L355) for `DenoisingDataset` does not set the correct EOS token when used in the MultilingualDenoisingTask.

This is caught in [this assertion](https://github.com/pytorch/fairseq/blob/master/fairseq/data/data_utils.py#L41).

I believe this is because the EOS token [is set during the c

[2020-03-06 01:45] erip commented on #1771
Technically you should only add `x.numel()` if `x.requires_grad`, but that would filter your number of parameters further.

[2020-03-06 01:48] kaiidams commented on #1777
@myleott Thanks. I updated the script to loop over the valid files. As we have multiple valid files, we need to run `fairseq-preprocess` like below. I can also update `README.md`, but I want to make sure this is what you think it should be.

[code]

[2020-03-06 08:15] villmow commented on #1785
Once you have a command working for pretraining a multilingual denoising model could you post it here? It seems like they don't want to share the pretraining procedure of BART and mBART somehow (see  #1504 , #1614 , #1389 , ...)

[2020-03-06 08:32] villmow commented on #1738
https://github.com/pytorch/fairseq/blob/adb5b9c71f7ef4fe2f258e0da102d819ab9920ef/fairseq/tasks/translation.py#L368

At this line the first sample of a batch is logged and printed. Couldn't you just print or log everything into a specific file at this point?

[2020-03-06 08:43] marmg opened #1786 "Problem importing logging/metrics"
## 🐛 Bug

I'm trying to run BART Fine Tuning example, but code fails when importing logging module. Changing the line

```from fairseq.logging import meters, metrics, progress_bar```

to

```from fairseq import meters, metrics, progress_bar```

Fails while importing metrics, but meters and progress_bar are imported without any problem.

### To Reproduce

Steps to reproduce the behavior (**always i

[2020-03-06 08:48] villmow commented on #1738
Just hijacking this issue for a related question/bug!

I use the validation with BLEU on my own task (sub-class of translation, only loading a different dataset) and consistently get lower bleu scores for validation during training (~14), than I get when I run fairseq-generate on the same task and validation dataset (~23).

Any idea on that @myleott , or should I open a new issue?

[2020-03-06 10:05] SouravDutta91 opened #1787 "FairSeq source build issue (EnvironmentError)"
**Problem:**

When trying to build fairseq from source, it fails at installing backend dependencies. numpy is already installed through miniconda.

**Error log:**

**Error reference:**

![image](https://user-images.githubusercontent.com/12622197/76074087-154a9380-5f9b-11ea-8f30-8fbbe3753cef.png)

**Expected behavior:**

Should work without any errors.

I have checked the issues before reporting. I

[2020-03-06 15:36] Guitaricet opened #1790 "Weights and Biases support"
## 🚀 Feature Request
Add [WandB](https://www.wandb.com/) support for logging.

### Motivation

- WandB is cloud-based - you can access your logs without a direct ssh connection, just using the website
- WandB interface is better suited for many experiments, it also can log model weights, configs, and source code
- WandB is prettier

### Pitch

Tensorboard is slow a buggy - sometimes I wait about a

[2020-03-06 16:27] mgaido91 opened #1791 "Sequence generation fails if the encoder outputs a sequence with lenght different from input"
## 🐛 Bug

### To Reproduce

The problem is present when there is a model in which the encoder outputs a sequence having a length different from the input one. This is very common in speech processing models which contain convolutions reducing the size of the input.

With such a model, the following command fails:

[code]

with the following stacktrace:

[code]

#### Code sample

A very simple repr

[2020-03-06 18:18] SouravDutta91 commented on #1787
The issue was actually regarding the `tmp` folder being full. I had to change the TMPDIR to another location with enough empty space and it worked (Fairseq build from source done successfully).

[2020-03-06 18:18] #1787 closed

[2020-03-06 18:21] david-macleod opened #1793 "vq-wav2vec ➡ RoBERTa pipeline"
## ❓ Questions and Help

#### What is your question?
I am trying to take the outputs from the vqwav2vec model and pass them to the pre-trained RoBERTa model. After looking at the docs and source code I believe what I have supplied is the correct vqwav2vec / RoBERTa pipeline to extract RoBERTa features, could this please be confirmed?

Also, is wrapping the sequence with `<s>` tokens necessary in t

[2020-03-06 22:03] myleott commented on #1786
Are you on master?

[2020-03-06 23:35] myleott commented on #1777
Yes that looks perfect, please update the README as well.

[2020-03-07 01:05] sajastu commented on #1685
@ngoyal2707 I'd like to finetune BART on quite a different domain where the average sequence length of input documents is about 8000 tokens. Does BART support the lengths in this order? If not, is there a work-around to handle these cases?

[2020-03-07 02:12] sajastu commented on #1772
@myleott Same here. I switched on single GPU as to your suggestion, but still, I'm getting `| OOM: Ran out of memory with exception: CUDA out of memory.`. I guess the default `--max-source-positions` is `1024` in BART model. And with regard to the readme for CNN/DM, I first used `--max-tokens 2048. Have been playing around with `--max-tokens` to the lowest number I have tried (`768`), but still I'

[2020-03-07 05:16] Cathy-t opened #1794 "NameError: name '_tensorboard_writers' is not defined"
When I try to run the transformer example
#### Code
torch.hub.list('pytorch/fairseq')
en2de = torch.hub.load('pytorch/fairseq', 'transformer.wmt16.en-de', tokenizer='moses', bpe='subword_nmt')
en2de.eval()  # disable dropout
assert isinstance(en2de.models[0], TransformerModel)

en2de.translate('Hello world!')

en2de.translate(['Hello world!', 'The cat sat on the mat.'])

something wrong occured:
E

[2020-03-07 13:30] myleott commented on #1051
I've added a more detailed README for reproducing the BT results from the paper: https://github.com/pytorch/fairseq/tree/master/examples/backtranslation#training-your-own-model-wmt18-english-german

[2020-03-07 13:30] #1051 closed

[2020-03-07 13:31] myleott commented on #524
I've added a more detailed README for reproducing the BT results from the Understanding BT at Scale paper: https://github.com/pytorch/fairseq/tree/master/examples/backtranslation#training-your-own-model-wmt18-english-german

[2020-03-07 13:31] #524 closed

[2020-03-07 14:52] ahmetbagci8 opened #1795 "Machine Translation Using Bert Embeddings"
#### What is your question?

Hello.

I am a CS student. I need to do paraphrase generation using Bert Embeddings for my semester project.

I have 50.000 Turkish paraphrase pair sentences. I had trained a transformer using Open-NMT library. But, I think that if I use Bert language model as encoder, I will more succesfull on my task. Can any one help me to do paraphrase generation or machine transla

[2020-03-07 17:15] #1794 closed

[2020-03-07 19:15] tuhinjubcse opened #1796 "lprobs and probs same in top-k"
## ❓ Questions and Help

#### What is your question?

I was trying to edit the code in top-k sampling I have a use case where I need to add a scoring function to log probability

![image](https://user-images.githubusercontent.com/3104771/76150805-346d2200-607c-11ea-9e81-4d0a7d2142d6.png)

Here for top-k
https://github.com/pytorch/fairseq/blob/master/fairseq/search.py#L228

[code]

lprobs and probs

[2020-03-07 19:26] tuhinjubcse commented on #1796
@myleott

[2020-03-07 23:26] myleott commented on #1796
`probs = lprobs.exp_()` is an in-place operation, so it will cause `lprobs` to be identical to `probs`.

It's a minor memory-efficiency thing, so you can just replace it with `probs = lprobs.exp()` and it should work as you expect.

[2020-03-08 00:04] #1777 closed

[2020-03-08 00:25] myleott commented on #1755
Thanks, good catch. You should remove the `--joined-dictionary` option, that way it reuses the English dictionary, but will generate a new French dictionary.

I'll update the instructions.

[2020-03-08 03:25] Evelyn-Xin opened #1797 "What is the model of that picture?"
Hello,

Could anyone tell me what is the model of the main page?

[2020-03-08 10:47] shamanez opened #1799 "What are the different checkpoints given in VQ-wav2vec ?"
Can you please add a short description of different checkpoints given for VQ-wav2vec model. Even a reference from the paper would be very useful.

[2020-03-08 13:45] myleott commented on #1797
It's the fully convolutional model from this paper: https://arxiv.org/abs/1705.03122 😄

[2020-03-08 13:45] #1797 closed

[2020-03-08 14:40] aced125 opened #1800 "Add BART-XSUM to TorchHub"
## 🚀 Feature Request
Please could we add BART finetuned on X-SUM (https://dl.fbaipublicfiles.com/fairseq/models/bart.large.xsum.tar.gz) to torch hub?

### Motivation

For extending the model in a more user-friendly way.

### Alternatives

Loading manually, which means processing the dataset as well.

[2020-03-08 14:58] farid-fari opened #1801 "Sentence prediction with `roberta.large`"
I am trying to get RoBERTa to predict the next sentence from previous text (NSP in GLUE for example).

## Code

    from fairseq.models.roberta import RobertaModel
    roberta = RobertaModel.from_pretrained('roberta.large/', checkpoint_file='model.pt')
    roberta.eval()
    tokens = roberta.predict('sentence_prediction', tokens)
    # KeyError: 'sentence_prediction'

There seems to be no method o

[2020-03-08 18:20] ngoyal2707 commented on #1800
sure, will do soon.

[2020-03-08 21:16] avi-jit opened #1802 "AttributeError: 'SentencePredictionCriterion' object has no attribute 'args'"
#### AttributeError: 'SentencePredictionCriterion' object has no attribute 'args'
I'm trying to finetune roberta by registering a new classification head, as explained here: [github.com/pytorch/fairseq/blob/master/examples/roberta/README.custom_classification.md](github.com/pytorch/fairseq/blob/master/examples/roberta/README.custom_classification.md). I've tokenized and preprocessed my data as des

[2020-03-08 22:39] myleott commented on #1755
Fixed in e5facc9984bcfe3de8486db2639cd3c228d66dfa

[2020-03-08 22:39] #1755 closed

[2020-03-08 22:42] myleott commented on #1802
Thanks, this is a bug introduced in our recent refactoring of criterions to not depend on args: 46b773a393c423f653887c382e4d55e69627454d. I'll submit a fix

[2020-03-08 22:47] erip commented on #1802
Looks like a quick fix - @myleott want me to take it?

[2020-03-08 22:50] myleott commented on #1801
The `roberta.large` checkpoint doesn't have a trained classification head, you have to finetune it first: https://github.com/pytorch/fairseq/blob/master/examples/roberta/README.custom_classification.md

You can try using the `roberta.large.mnli` model which has an `mnli` head: https://github.com/pytorch/fairseq/tree/master/examples/roberta#use-roberta-for-sentence-pair-classification-tasks

[2020-03-08 22:56] farid-fari commented on #1801
I don't want a classification head though, I want sentence prediction. I'd like for it to be able to complete a sentence, for example if the input is "I am feeling hungry so" then it will output " I shall eat a banana."

If I understood correctly the first link will tell me how to train a classification head, but would that mean that it would classify over the whole vocabulary (and the predicted c

[2020-03-09 02:26] opsuisppn opened #1804 "building from source failed"
## 🐛 Bug

Error in building the latest commit from source.
### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

1. pip install -e .
2. See errr:

Installing collected packages: fairseq
  Attempting uninstall: fairseq
    Found existing installation: fairseq 0.9.0
    Uninstalling fairseq-0.9.0:
      Successfully uninstalled fairseq-0.9.0
  Running setup.py

[2020-03-09 07:07] marmg commented on #1786
I am

[2020-03-09 07:17] MichaelZhouwang commented on #1614
Is there any plan on releasing instruction about how to pretrain BART?

[2020-03-09 08:15] idanh opened #1806 "Installation via Hub with custom paths not working"
## 🐛 Bug
Hi,
When running the code below, I get the following exception:
`TypeError: expected str, bytes or os.PathLike object, not NoneType`

![Screen Shot 2020-03-09 at 10 13 36](https://user-images.githubusercontent.com/614496/76194355-abc2c300-61ee-11ea-8aec-45202402b749.png)

### To Reproduce
[code]

### Environment

 - fairseq Version (e.g., 1.0 or master): 0.9.0
 - PyTorch Version (e.g., 1.

[2020-03-09 12:01] MichalTurski opened #1807 "Why does padding_idx differ from padding_value in LSTMEncoder?"
Class `LSTMEncoder` has two fields: `padding_idx` and `padding_value`. First one comes from dictionary, which is passed to `__init()__`, second one is explicitly passed to the same function. Isn't it redundance? Shouldn't padding value come come only from dictionary and be consistent with it?

[2020-03-09 13:02] #1802 closed

[2020-03-09 14:45] myleott commented on #1804
This seems like an issue with your numpy installation, not fairseq, since it happens when `import numpy` is called. Please reinstall numpy/pytorch/etc.

[2020-03-09 14:45] #1804 closed

[2020-03-09 15:12] MichaelZhouwang commented on #1696
Hi, Have you tested the most recent result using layerdrop?  Thanks.

[2020-03-09 15:28] myleott commented on #1801
Unfortunately that's not really supported with masked language models like roberta. You could try something like:
[code]

But then you'd need to search over the various combinations of replacements for the `<mask>` tokens.

I think you're looking for a standard (not masked) language model. We have some of those here: https://github.com/pytorch/fairseq/tree/master/examples/language_model#example-us

[2020-03-09 15:30] farid-fari commented on #1801
That last link is exactly what I was looking for, thanks! I thought RoBERTa would be capable of this as well.

[2020-03-09 15:30] #1801 closed

[2020-03-09 16:23] prajjwal1 opened #1808 "Implementation of data driven layerdrop"
I asked about layerdrop few days ago [here](https://github.com/pytorch/fairseq/issues/1667). My query was not answered so I'm asking it here. Could you please provide implementation or pointers for implementing `data driven pruning` as mentioned in the paper ?

[2020-03-09 17:45] opsuisppn commented on #1804
Hi @myleott, I have reinstalled numpy and it didn't solve the issue. I have successfully built from source of previous versions. I will check my local setting again to see if there is other possible cause. Thanks.

[2020-03-09 19:13] shamanez commented on #1793
I am also following your pipeline. I have used first wav2vec k means pipeline to extract tokens and send the tokens though the given roberta checkpoint. Just to clarify,  did you also use the dictionary given inside Roberta-wav2vec checkpoint folder?  Also what are the architectural information in the given roberta checkpoint.

[2020-03-09 19:16] shamanez commented on #1771
I also checked , the roberta model they use is similar to small BERT architecture  with 12 players.

[2020-03-09 21:46] RanyaJumah opened #1811 "Using the Pre-trained models VQ-wav2vec"
I tried to using the pre-trained model (K-mean and Gumbel ) by running (vq-wav2vec_featurize.py) but there is a run-time error appear:

RuntimeError: Error(s) in loading state_dict for Wav2VecModel:
        Unexpected key(s) in state_dict: "vector_quantizer.embedding", "vector_quantizer.projection.0.weight", "vector_quantizer.projection.1.weight", "vector_quantizer.projection.1.bias".

even I have

[2020-03-09 23:44] Guitaricet commented on #1790
Anybody? =(

[2020-03-10 02:03] markusdr opened #1812 "AttributeError: module 'torch._C' has no attribute 'ScriptFunction'"
## 🐛 Bug

I'm getting the following error when I try to run `examples.roberta.multiprocessing_bpe_encoder`:

    AttributeError: module 'torch._C' has no attribute 'ScriptFunction'

The command is part of the instructions here: https://github.com/pytorch/fairseq/blob/master/examples/bart/README.summarization.md

### To Reproduce

Steps to reproduce the behavior (**always include the command you ra

[2020-03-10 09:33] jiezhangGt commented on #1696
Yes， It is.  The result of my experiment is that layeDrop will not affect the effect of the model, that is to say, when the original BLEU of your model is 43.52, the BLEU of the model will also be 43.52 after adding the training of layerDrop. However, if some of the layer is dropped during decoding, the effect will decrease significantly.

43.11428571 | encode{full};   decode{0,2,3,5}
-- | --
42.3

[2020-03-10 09:36] #1696 closed

[2020-03-10 09:36] huihuifan commented on #1696
For NMT tasks, try to keep the encoder full size and shrink the decoder -
in NMT, encoder size has been found to be very important. The experiments
where you shrink the decoder size by 2 layers and only lose like 0.1 BLEU
(from 43.1 to 42.9) seems encouraging. If you want better results but are
ok with a larger model, try doing something like doubling the encoder size
while keeping decoder size fi

[2020-03-10 10:05] shamanez commented on #1811
It is because your fairseq pip version is behind. Just run from the sources by cloning the repo.

[2020-03-10 14:24] ikuyamada opened #1815 "Training details of the RoBERTa model on the ReCoRD dataset"
I read the issue #1598 and the [updated paper](https://openreview.net/pdf?id=SyxS0T4tvS) of the RoBERTa model, and would like to ask questions regarding the training details on the ReCoRD dataset.

The paper mentions as follows:

* Which PyTorch loss function is used to implement the pairwise ranking formulation? If the loss function involves hyper-parameters, what are the exact values of them?
*

[2020-03-10 14:49] myleott commented on #1812
fairseq requires torch 1.4, but I'm not able reproduce this. Can you try reinstall torch?

Then try:
[code]

[2020-03-10 15:59] myleott commented on #1807
Good call, I'll fix this.

[2020-03-10 16:08] #1768 closed

[2020-03-10 16:24] Aydyou opened #1817 "invalid literal for int() with base 10 error when using GPT-2 translator"
I am running the following code:

torch.hub.list('pytorch/fairseq')

en2de = torch.hub.load('pytorch/fairseq', 'transformer.wmt16.en-de', tokenizer='moses', bpe='gpt2')
en2de.eval()

assert isinstance(en2de.models[0], fairseq.models.transformer.TransformerModel)

en2de.cpu()

en2de.translate('I am here')

Which is the same translation code on the translation section. I'm getting the following erro

[2020-03-10 16:45] markusdr commented on #1812
Thanks for looking into this.

Here are the complete steps to reproduce from scratch:

    $ conda create --name xyz python=3.6
    $ source activate  xyz
    $ pip install torch
    Collecting torch
      Using cached torch-1.4.0-cp36-cp36m-manylinux1_x86_64.whl (753.4 MB)
    Successfully installed torch-1.4.0
    $ git clone https://github.com/pytorch/fairseq.git fsq
    $ cd fsq/
    $ pip ins

[2020-03-10 16:54] nicolasspring opened #1818 "Scaling the --update-freq param with different number of GPUs (Edunov et al. 2018)"
Great to see there is now code provided to reproduce the results of Edunov et al. 2018. I was however wondering about this remark in steps 2 and 3:

When using 8 GPUs, is the effective batch size 8 times the 3584 tokens of the `--max-tokens` parameter? And would the correct course of action be increasing `--update-freq` if you use fewer than 8 GPUs?

In [the paper](https://arxiv.org/pdf/1808.09381

[2020-03-10 17:36] markusdr commented on #1812
Turns out that `pip install torch` results in a bad or incomplete pytorch installation.

Installing pytorch using `conda` instead solves the issue:

    conda install pytorch torchvision -c pytorch

[2020-03-10 17:37] #1812 closed

[2020-03-10 18:51] #1791 closed

[2020-03-10 19:11] #1807 closed

[2020-03-10 21:25] myleott commented on #1818
The large scale results were done on 128 GPUs (Section 5.6). `--update-freq=16` accumulates 16 batches on each GPU, thus simulating training on 16*8=128 GPUs.

Yes, exactly. If you train on 4 GPUs then use `--update-freq=32`.

[2020-03-10 21:30] myleott commented on #1817
You need to use `bpe='subword_nmt'` for that model, please see the README: https://github.com/pytorch/fairseq/tree/master/examples/translation#example-usage-torchhub

[2020-03-10 21:30] #1817 closed

[2020-03-10 21:34] #1796 closed

[2020-03-10 21:39] myleott commented on #1768
Oh, you said sequence_scorer.py originally :) sequence_scorer.py gives the score of the target/reference.

But above you're using `bart.sample`, which calls into sequence_generator.py. sequence_generator.py will produce model outputs and give you the scores of those.

[2020-03-10 21:41] myleott commented on #1738
New issue please?

[2020-03-10 21:42] zhenduow commented on #1768
Yes, I figured out and called the functions accordingly. Thank you very much!

[2020-03-10 21:44] #1818 closed

[2020-03-10 21:49] Aydyou commented on #1817
With subword_nmt I get exactly the following error mentioned here:
https://github.com/pytorch/fairseq/issues/961

codec can't decode byte 0x93

[2020-03-10 23:27] RanyaJumah commented on #1811
Thanks for your reply,
I tried to clone it but it gives me the same error :(

[2020-03-10 23:29] shamanez commented on #1811
First remove to pip installation of the fairseq. Then only emotion the wav2vec from the source (fairseq folder), it works for me.

[2020-03-11 00:15] RanyaJumah commented on #1811
Excellent! it works now,

Thank you very much :-)

[2020-03-11 00:15] #1811 closed

[2020-03-11 00:31] shamanez commented on #1811
Please let me know , if you are able extract features for audio using
vq-wav2vec + Roberta checkpoint.

On Wed, Mar 11, 2020, 13:15 Ranya Jumah <notifications@github.com> wrote:

[2020-03-11 02:38] jiezhangGt commented on #1696
Thank you for your reply and Suggestions.  The aim of my experiment was to compress the model to a quarter of its original size,. This was done by adjusting the model parameters and then training the model from scratch, for now, however, the effect of layerdrop cannot exceed this method.

The full version of the results of the above experiment is:
(encode layer drop rate = decode layer drop rate =

[2020-03-11 02:46] alexeib commented on #1771
sorry, those are not parameters, that the size of the checkpoints in megabytes. my bad, ill update it soon

[2020-03-11 03:05] alexeib commented on #1690
re: error, looks odd, can you check your data to make sure you dont have any super short examples?

[2020-03-11 03:09] alexeib commented on #1280
you can specify a different sample rate with --sample-rate argument. audio will be resampled (via simple interpolation, dont expect great results) for you to this sample rate. you can certainly use 32k if you want but then you might want to adjust the encoder architecture to keep 100hz rate, or else see if a different rate works well for you

[2020-03-11 03:09] #1280 closed

[2020-03-11 03:11] shamanez commented on #1771
@alexeib ,

Can you please clarify this question too.

https://github.com/pytorch/fairseq/issues/1793

[2020-03-11 03:11] alexeib commented on #1194
sorry i just saw this. we just replaced spectrogram features in wav2letter with the wav2vec ones. you can extract the features as shown in the examples doc and feed it into any asr system youd like and it will work (e.g. we have tried bi-lstms also)

[2020-03-11 03:11] #1194 closed

[2020-03-11 03:14] alexeib commented on #1793
you extract the codes to a text file, then you run preprocess.py as if it was a regular text file. specify --source-dict and point to the dict file in the tar (otherwise it will construct a new dict which wont match to what it was trained with). e.g. if you extracted codes to train.src and your corresponding labels file is train.ltr. if you dont have labels then use --only-source
[code]

[2020-03-11 03:14] #1793 closed

[2020-03-11 03:18] shamanez commented on #1793
Thanks a lot.

[2020-03-11 09:35] david-macleod commented on #1793
I have run the following command
[code]
and it creates two files `train.src-None.src.bin` and `train.src-None.src.idx`.  What do I do with these files, in order to extract roberta features?

[2020-03-11 10:03] shamanez commented on #1793
@david-macleod First run the following script to quantized the video using vq-wav2vec - K means.

`PYTHONPATH /path/to/fairseq python examples/wav2vec/vq-wav2vec_featurize.py --data-dir /manifest/path --output-dir /path/to/output \
--checkpoint /model/path/checkpoint_best.pt --split train valid test --extension tsv`

Then run the  command mentioned by @alexeib. In the source directory, u should ha

[2020-03-11 11:34] shamanez commented on #1793
@david-macleod  I tried to train the Roberta base by feeding tokens that are generated by following the @alexeib's pipeline. In those tokens, I saw  Beginning Of Sentence (BOS) and End Of Sentence (EOS) tokens similar to Roberta.  Other tokens are perfectly matched with your pipeline. So this is the same as the Roberta. In your pine line, just add 0 to begging and 2 to the end.

[2020-03-11 11:46] shamanez opened #1819 "vq-wav2vec : Do you use EOS and BOS when training VQ-wav2vec with Roberta base ?"
In the VQ-wav2vec paper, it says, quantized audio tokens are used to train the Roberta base on the masking task. Just want to clarify whether we use EOS and BOS tokens similar to Roberta training for the text.

[2020-03-11 12:17] SoonmoKwon opened #1820 "Is there any option to get translation results into new file on generation?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
done
2. search the docs.
done

#### What is your question?

I trained a new model from my dataset and conducted generation. It is very useful to calculate bleu score directly.
However, I want to evaluate my model using METEOR and analyze its result qualitatively. For the purpose, i need an output file containing translation results

[2020-03-11 12:41] myleott commented on #1817
`subword_nmt` is the right one to use.

Is this Windows by any chance? You probably need to adjust your locale to UTF-8. Try this: https://dev.to/methane/python-use-utf-8-mode-on-windows-212i

[2020-03-11 13:48] aronla opened #1821 "programs hangs in distributed_utils.all_gather_list (reopen)"
## 🐛 Bug
This is basically reopening this [issue](https://github.com/pytorch/fairseq/issues/810) since I'm experiencing the same bug.

When I run the following code on two separate machines, the `distributed_utils.all_gather_list ` call just hangs, and never returns. GPUs are at 100% but nothing happens.

[code]
I've traced it to a call to `item()` in `fairseq.distributed.utils`.

When I reproduce

[2020-03-11 14:07] ngoyal2707 commented on #1815
1) We are still using `nll_loss` from pytorch, something like following, where `net_input1` is context concatenated with answer candidate 1 and `net_input2` is with answer candidate 2 :
[code]

2) All possible negative and positive pairs are selected. There's no sampling happening. I think, this results in ~1.4M samples per epoch.

3) We use `lr=1e-5, bsz=32`, we also use `dropout=0.2` in  classif

[2020-03-11 14:07] #1815 closed

[2020-03-11 14:10] david-macleod commented on #1793
thanks@shamanez, so I could just update my function like so:
[code]

Just out of interest, how did you go from the outputs of preprocess.py (the .bin and .idx files) to training Roberta?

[2020-03-11 14:16] ngoyal2707 commented on #1455
The model has been released

[2020-03-11 14:16] #1455 closed

[2020-03-11 14:17] #1664 closed

[2020-03-11 14:35] ikuyamada commented on #1815
@ngoyal2707 Thank you for your prompt reply!

Does this mean that, given an example, all combinations of positive and negative answers are selected? For example, if the example contains two positive answers A and B, and two negative answers C and D, are all combinations, namely (A, C), (A, D), (B, C), (B, D) generated from the example? If so, are all generated positive-negative pairs treated as in

[2020-03-11 16:30] #1771 closed

[2020-03-11 16:38] alexeib commented on #1793
Sorry, i thought the question was how to train using the vq-wav2vec codes.

if you use --only-source, then omit the --s and --t and specify the full file name in trainpref. e.g.
[code]
you then will get a train.bin and train.idx (and valid/test if you specify validpref and testpref). you can then train a roberta model by following the roberta examples and providing path with your train.bin/idx as

[2020-03-11 18:09] myleott commented on #1786
I'm not able to reproduce this. Can you confirm the output of these commands:

1) `python -c 'from fairseq import logging'`
2) `pip show fairseq | grep Location`

If the first command raises an exception, then you're probably on fairseq 0.9.0 instead of master. Make sure you clone from source and run `pip install --editable .`.

[2020-03-11 19:27] ngoyal2707 commented on #1769
This should be fixed now

[2020-03-11 19:27] #1769 closed

[2020-03-11 20:05] JohnasSolomon opened #1822 "Can I feed embeddings from XLM- RoBERTa to transformer seq2seq model?"
## ❓ Questions and Help

I am a new researcher on the field of deep learning. Please help/example/guide me on feeding embeddings from XLM- RoBERTa to transformer seq2seq model? Thanks!!!

#### What's your environment?

What's your environment?
XLM-RoBERTa
PyTorch 1.4
Windows

[2020-03-11 21:42] Edwardlzy opened #1825 "OSError: Invalid data stream"
Hello! I am new to fairseq and trying to run the translation example. I followed [this readme](https://github.com/pytorch/fairseq/blob/master/examples/translation/README.md) but encountered an `OSError: Invalid data stream` when running `en2de = torch.hub.load('pytorch/fairseq', 'transformer.wmt16.en-de', tokenizer='moses', bpe='subword_nmt')`.

I've tried to edit the `_compression.py` file and mo

[2020-03-11 22:26] myleott commented on #1821
Are the two machines able to communicate with each other properly? You say it's 4 GPUs (`--distributed-world-size=4`) and "V100's across 2 machines". Does that mean you have 2 nodes each with 2 GPUs?

Can you try a simpler training command to start? You'll need to install fairseq from source and then try something like:
[code]

[2020-03-11 22:28] myleott commented on #1825
Can you share the full stack trace? I don't think that _compression.py file is part of fairseq.

[2020-03-11 22:33] Edwardlzy commented on #1825
Thank you for the quick response! I've attached it below

[code]

[2020-03-11 22:48] shamanez commented on #1793
@david-macleod

First, you need to run the following script to convert wav files in to K-means tokenized representations.
[code]

Then follow the first part of the above @alexeib 's answer.

[2020-03-11 22:54] CSP197 commented on #1790
@Guitaricet - I can help with this and I have a Windows computer for testing =)

[2020-03-12 00:59] shamanez commented on #1793
@alexeib  what is the **self.dict.** in your answer?  Can I load the dict.txt given in checkpoint directly?

[2020-03-12 02:32] ngoyal2707 commented on #1800
done

[2020-03-12 02:32] #1800 closed

[2020-03-12 05:04] freewym opened #1826 "CUDA error when training with multiple GPUs and criterion's logging_outputs_can_be_summed() is False"
## 🐛 Bug

Currently almost all subclass of `FairseqCriterion` 's `logging_outputs_can_be_summed()` returns True, and it trains OK with multiple GPUs. But if I change, for example, `CrossEntropyCriterion`'s  `logging_outputs_can_be_summed ()` to return False and train with 2 GPUs , it gives error:

File "/export/b02/ywang/anaconda3/lib/python3.7/site-packages/torch/multiprocessing/spawn.py", line 1

[2020-03-12 06:44] aronla commented on #1821
Hi, and thanks for your answer @myleott !

Yes, exactly.

Unfortunately, I don't have the permissions to be able to install from source.
I could however use the script from the [pytorch tutorial (https://pytorch.org/tutorials/intermediate/ddp_tutorial.html), and it trained across both machines, which to me says that the machines are communicating with each other?

I also tried to set `export NCCL_

[2020-03-12 07:41] alexeib commented on #1793
yes it is the loaded dict.txt using Dictionary class

[2020-03-12 08:14] shamanez commented on #1793
What if I use the following method to extract tokens?
`tokens = roberta.task.source_dictionary.encode_line(idx_str, append_eos=False, add_if_not_exist=False)`

This way the dictionary is modified with special tokens and indexes are shifted by three values. Because in a usual Roberta task you have to add` <s>, </s>,<pad>  and , <unk>`.

[2020-03-12 10:10] villmow opened #1827 "Validation with sacrebleu tokenizes escaped UNK-tokens"
## 🐛 Bug

I'm on a translation task and do validation with BLEU during training. If `--eval-tokenized-bleu` is not set, scoring is done using the sacrebleu.DEFAULT_TOKENIZER. See these lines:
https://github.com/pytorch/fairseq/blob/d7b0bf7e55b48466ee7e371a959668dfb8feaaf6/fairseq/tasks/translation.py#L348-L357

UNK-tokens in references are escaped with `<<UNK>>` before scoring (line 351). This may

[2020-03-12 11:53] david-macleod commented on #1793
@alexeib @shamanez I am also interested to know if using `roberta.task.source_dictionary` for the token mapping is as valid approach, compared to loading dict.txt. It also has a `<mask>` token in position 23672.

[2020-03-12 13:27] rburraAMD commented on #1077
Observing below UserWarning message with pytorch-translate .
root/.local/lib/python3.6/site-packages/torch/nn/modules/rnn.py:50: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.1 and num_layers=1
  "num_layers={}".format(dropout, num_layers))
/root/.local/lib/python3.6/site-packages/torch/backends

[2020-03-12 14:05] villmow opened #1828 "Allow different scorers during (validation) inference"
## 🚀 Feature Request

During inference one might like to score with different metrics (bleu, rouge, precision/recall, gleu, ...).
Define a common Scorer interface and allow implementing different scorers e.g. `register_eval_scorer()`.

### Motivation

On some datasets I need to score my translation results with ROUGE and Precision/Recall as this is the common practice.

### Pitch

1. Define an `re

[2020-03-12 14:21] Myname10 opened #1829 "loading CamemBert from torch.hub"
Hey,I'm facing a problem concering loading CamemBert from torch.hub.

This what I did :
- pip install torch so the installed version is 1.4.0
- run these two lines of code on my jupyter notebook:
import torch
camembert = torch.hub.load('pytorch/fairseq', 'camembert.v0')
camembert.eval()  # disable dropout (or leave in train mode to finetune)

And got this error:

![Capture d’écran de 2020-03-12 15

[2020-03-12 17:35] Guitaricet commented on #1790
Awesome! You can look into [this](https://github.com/pytorch/fairseq/runs/490946509) ci log. Tests are failing for `windows-latest, 3.6`. Everything is looking good for Ubuntu and MacOS. I also double-checked MacOS tests locally on my machine.

Also, what kind of tests does wandb integration require (if any)? I did not find any tests for tensorboard.

[2020-03-12 18:07] prihoda opened #1830 "Multiple regression targets in sentence prediction"
## 🚀 Feature Request
Add support for multiple regression targets at once in sentence prediction. This can be based on existing `--num-classes` argument (which has to be `= 1` at this moment).

### Motivation
Training on multiple targets at once can improve the results, since the model can learn from all available information

### Pitch
I will prepare a PR to support multiple regression targets bas

[2020-03-12 18:27] myleott commented on #1829
Ah, due to a [recent change](https://github.com/pytorch/fairseq/commit/937535dba036dc3759a5334ab5b8110febbe8e6e), you'll need load a fresh copy with:
[code]

[2020-03-12 18:27] #1829 closed

[2020-03-12 18:54] alexeib commented on #1793
both approaches should work (that mask will be at last position so it shouldn't matter)

[2020-03-12 19:10] 8enmann opened #1832 "Reproducing RoBERTa Winogrande finetuning results"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
I'm having trouble reproducing the Winogrande results from the paper. Using the hyperparameters given in the README, I get ~77% val acc, which is good. However if I switch to `--wsc-cross-entropy` I get ~57% val acc. Is something about my setup broken? Or is finetuning very sensitive

[2020-03-12 19:36] aced125 commented on #1800
Thank you.

[2020-03-12 19:42] prihoda opened #1833 "Calculating perplexity throws OverflowError for high loss values"
## 🐛 Bug
OverflowError is thrown when calculating perplexity for high losses

### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

1. Run any task with high-enough loss (e.g. `sentence_prediction` task with `--regression-target` with very high values)
2. Get an `OverflowError` after first training epoch:

[code]

#### Code sample
https://github.com/pytorch/f

[2020-03-13 05:37] smart-patrol commented on #1365
I am getting the same issue.

@whiteRa2bit where did you place?
`torch.multiprocessing.set_sharing_strategy('file_system')`

I also when ahead and did:
[code]
as suggested [here](https://discuss.pytorch.org/t/received-0-items-of-ancdata-pytorch-0-4-0/19823/3)

[2020-03-13 11:13] mattiadg opened #1835 "Implement SpecAugment for speech recognition"
## 🚀 Feature Request
Implement [SpecAugment](https://arxiv.org/abs/1904.08779) for the ASR task

### Motivation
SpecAugment is a data augmentation method for ASR that provided SOTA results and is now widely used in the community. It is also used in [this](https://arxiv.org/abs/2002.12231) recent paper by facebook. It would be nice to replicate easily ASR experiments with fairseq.

### Pitch
SpecAu

[2020-03-13 11:40] mattiadg opened #1837 "Implement Time Stretch for speech recognition"
## 🚀 Feature Request
Implement [time stretch](https://arxiv.org/abs/1910.13296) for the speech_recognition task.

### Motivation

Time stretch has been proposed as an improvement over SpecAugment for the ASR task. It is not widely adopted but it is also a replacement for the common practice of modifying the audio speed for data augmentation. The good results make it a nice feature to have.

### Pi

[2020-03-13 19:11] myleott commented on #1825
Hmm, yeah, that error is strange, and I'm not able to reproduce it.

Can you try adding `force_reload=True` and share the entire log of what you see when you run:
[code]

[2020-03-13 19:14] myleott commented on #1828
Great idea! Would you mind submitting a PR with this?

[2020-03-13 19:17] myleott commented on #1832
@ngoyal2707 can you take a look at this?

[2020-03-13 19:23] myleott commented on #1821
It should work if you do: `pip install --editable --user .`

[2020-03-13 19:25] myleott commented on #1820
I think `--results-file` should work: https://github.com/pytorch/fairseq/blob/b65a85b692544e36f9e83ada91cf4ef529791c69/fairseq/options.py#L474-L475

[2020-03-13 19:25] #1820 closed

[2020-03-13 20:51] Edwardlzy commented on #1825
Seems like the error is the same.

[code]

[2020-03-14 08:37] zplovekq opened #1839 "Tutorial: Classifying Names in model's forward"
In the model's ,it says "WARNING: The inputs have padding, so we should mask those  elements here so that padding doesn't affect the results."
So i modify the code:

But i see the training not stop. Like this:
![image](https://user-images.githubusercontent.com/39880124/76678342-ee7f0380-6611-11ea-8943-f73b411957da.png)
Thanks for help!

[2020-03-14 08:46] aronla commented on #1821
Right! I'm getting the following error:
[code]

[2020-03-14 09:05] villmow commented on #1828
Sure :)

[2020-03-14 15:56] aronla commented on #1821
UPDATE:
Using the combination
[code]
and _removing_ the flag `--fp16` got it training!
What are the implications of using bmuf? And not `fp16`?

I'm thinking something might still be weird as the other combinations should work, right?

[2020-03-15 16:25] isVoid commented on #1719
Do you have an estimated time when this will get replaced? Thanks.

[2020-03-15 22:08] mgaido91 opened #1840 "Distributed training fails with criterion having `logging_outputs_can_be_summed` to `False`"
## 🐛 Bug

My understanding is that now criterions containing parameters are supported (as of https://github.com/pytorch/fairseq/commit/ba5f829f64d2adf9de4502dab94abf0a1a54106b).
I tried implementing a custom criterion with parameters and everything looked fine when testing on a single GPU.
Moving to a distributed training on 8 GPUs the training got stuck at the very beginning and never went on.

D

[2020-03-15 22:09] mgaido91 commented on #1840
cc @jcai1 @okhonko sorry for pinging you, but I saw you worked on the commit I mentioned, so you may know more about this. Thanks.

[2020-03-16 04:25] aagohary opened #1841 "Reproducing mBART results for Arabic->Engllish"
## ❓ Questions and Help

I am trying to fine-tune the mBART model to reproduce the arabic -> english results reported in table 2 in the paper.  So far I am only getting a BLEU score of 28.8 while the paper reports 37.6.

In terms of the fine-tuning dataset, I used the TED parallel data that were available for training in IWSLT'17 combined with the available dev and test splits in IWSLT 2011-2015.

[2020-03-16 05:34] Shilpil commented on #1690
Thank you so much.You were right.
In the documentation 10 to 30 sec files are adviced but many datasets including Librispeech have many files lesser than that duration.
I just modified the wav2vec_manifest.py file to exclude audio files of duration lesser than 2 seconds and greater than 40 seconds.
It started training without this error after the modification.

[2020-03-16 05:34] #1690 closed

[2020-03-16 07:30] shamanez commented on #1746
@myleott  Is that ok if I send data from both data sets to the model at the same time.  Especially for the following [line](https://github.com/pytorch/fairseq/blob/3ba384cc6c58a139f0ccfbc4e7f183e7c4dfd839/fairseq/tasks/multilingual_translation.py#L270).

My idea is not to use a for loop but check whether the batches from both datasets present and then sending it to the network.

[2020-03-16 08:13] smart-patrol opened #1842 "Cannot load Sentence Encoder: translation_from_pretrained_xlm"
## 🐛 Bug

Attempting to run training in with xlmr large using `transformer_from_pretrained_xlm` for task
`translation_from_pretrained_xlm`.

Not sure if bug is a good term here as it's not documented and I have been trying to piece together what to do via Fairseq's and XLMR's repos.

### To Reproduce

0. Download [large model](https://dl.fbaipublicfiles.com/fairseq/models/xlmr.large.tar.gz)
1. Fol

[2020-03-16 08:18] villmow opened #1843 "Fairseq requires PyTorch >= 1.4"
## 🐛 Bug

Fairseq needs pytorch >= 1.4 at least since this commit https://github.com/pytorch/fairseq/commit/3335de5f441ee1b3824e16dcd98db620e40beaba . The following line requires this, as `nn.GELU` was added in 1.4 to Pytorch (I think the functional GELU was released a little earlier):
https://github.com/pytorch/fairseq/blob/476606fc1631b7c87873d3e314e61dae8f25a751/fairseq/modules/gumbel_vector_qu

[2020-03-16 12:47] myleott commented on #1843
Thanks, we will update the docs.

[2020-03-16 13:04] myleott commented on #1839
Your code snippet looks good.

By default fairseq will keep training indefinitely. You can add `--max-epoch=10` to train for 10 epochs. Alternatively you could set an early stopping patience with `--patience 2`, which will terminate after the validate loss doesn't go up for 2 consecutive epochs.

[2020-03-16 13:04] #1839 closed

[2020-03-16 13:13] myleott commented on #1840
Are you using a custom dataset? Usually this happens when you have dataloading code that touches the GPU (or uses pinned memory), causing PyTorch to initialize itself on the GPU in the subprocess.

Does it work if you use a standard criterion? What is the rest of your code/model doing?

[2020-03-16 13:19] ngoyal2707 commented on #1841
cc: @MultiPath

[2020-03-16 13:27] ngoyal2707 commented on #1832
@8enmann as far as I remember, the difference in those 2 criterions is, for winogrande, the candidates are given and the task is binary classification task vs wsc the candidates are not give, so those are generated by named entities.
The second task is much harder than the first one, I don't think, it's just matter of changing hyperparam, the task definition itself gets changed.

about the filenam

[2020-03-16 13:27] #1832 closed

[2020-03-16 13:29] ngoyal2707 commented on #1842
@smart-patrol There are some small differences between original `XLM` and `XLM-R` models. The `translation_from_pretrained_xlm` was not updated to work with updated `XLM-R` model because we didn't evaluate it on translation tasks.
However, please feel free to submit PR, I am to review and merge.

[2020-03-16 13:54] myleott commented on #1825
Sorry, I really don't know what's going on. You can instead download the model file directly: https://github.com/pytorch/fairseq/tree/master/examples/translation#pre-trained-models

Then untar and load with:
[code]

[2020-03-16 14:10] mgaido91 commented on #1840
@myleott thanks for your answer. It works if using any criterion without parameters (eg. `cross_entropy`), but using the same criterion as "underlying criterion" in the repro above causes the issue.

The rest is just a normal `translation` task with `transformer` model. The command I am executing is:

[code]

With this command and the `test_loss` mentioned in the issue description, the problem can

[2020-03-16 14:44] #1843 closed

[2020-03-16 15:10] Edwardlzy commented on #1825
This seems to work. Thank you for you help!

[2020-03-16 15:10] #1825 closed

[2020-03-16 16:26] mgaido91 commented on #1840
Ok, so I managed to understand more about the problem. The issue is caused by https://github.com/pytorch/fairseq/commit/4cae68037d4ded8fdc6d9c13edbfbbcb21e39f7f.

The problem happens only with criterions which don't set `logging_outputs_can_be_summed` to `True` (the default is `False`).  Hence I will update the issue description as the problem is not with parameters but the difference was related

[2020-03-16 17:50] alexeib commented on #1690
Great! you can also set --min-sample-size and --max-sample-size (in frames) to exclude short samples and crop longer samples automatically

[2020-03-16 19:37] 8enmann commented on #1832
I'm running on Winogrande in both cases, just changing the loss. The README says
[code]
 I modified this to
[code]
I get a huge difference in validation accuracy. My best guess is there is some hyperparameter such as learning rate that needs to be updated.

[2020-03-16 19:57] ngoyal2707 commented on #1832
Sorry, I haven't tested winogrande in the setting you mentioned

[2020-03-16 20:47] AlanHassen commented on #1828
`        for token in hypothesis:
            if token in reference_set:
                tp += 1
            else:
                fp += 1

        for token in reference:
            if token not in hypothesis_set:
                fn += 1
`

I'm rather unsure if we should calculate the tp based on a set operation. Isn't the position the token has also relevant? In the end, it's a true positive, i

[2020-03-16 20:49] Guitaricet commented on #1790
@CSP197 thank you for offering help, but I just noticed that this test is failing on all PRs, including documentation improvements. So this is not a problem of this one.

[2020-03-16 21:06] CSP197 commented on #1790
@Guitaricet - Yeah, I think its a permissions issue with the Windows system.
I can run the tests successfully on my local machine...

` Ran 116 tests in 166.650s
OK (skipped=17)  `

...but run into the same issues when running on the Github Actions workflow.

[2020-03-16 21:17] Guitaricet commented on #1790
@CSP197 thank you!
Now I hope somebody from fairseq will find this feature useful.

[2020-03-17 02:43] sshleifer opened #1849 "What is the advantage of buffers?"
In sequence_generator.py https://github.com/pytorch/fairseq/blob/17e90c3c6f8665e21a54b2ef4a2e4f37ad809b10/fairseq/sequence_generator.py#L164

and also in FairseqIncrementalDecoder
there is often the pattern of getting a tensor by name from a dictionary if it doesn't exist, otherwise allocating it.

I can think of many reasons why this might be better, but for the sake of learning wanted to hear wh

[2020-03-17 03:45] faniuy opened #1850 "wav2vec and vq-wav2vec code in master won't converge"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

Run train.py with exact same arguments specified in examples/wav2vec/README.md
Both wav2vec and vq-wav2vec stop converging after a few thousand updates, where the loss is around 4.x.
For vq-wav2vec, the prob_perplexity and code_perplexity stop at 2.0.
However, the wav2vec in the v0.9.0 tag works

[2020-03-17 04:39] yuyan2do opened #1851 "speed up beam search by ~2x"
## 🚀 Feature Request

Speed up beam search ~2x by removing unnecessary reorder and merging small ops

### Motivation

GPU utility is only ~40% during BART model inference. By profile, I see 2 issues in incremental generation.

1. **Half of time is used for transfer small data between GPU and CPU** when no_repeat_ngram_size > 0. This pattern may apply to other seq2seq models, because the code cause

[2020-03-17 05:15] zeeshansayyed opened #1853 "Fairseq-generate not reading max_positions from --max-len-a"
## 🐛 Bug

I trained a transformer model on a simple seq2seq task. Since, my source and target sequences are much larger than 1024, I used `--max-source-positions 3000` and `--max-target-positions 3000` while training. The model trains well. But when I am using fairseq-generate to make predictions on the test set, it throws an exception saying: `Size of sample #608 is invalid (=(1012, 1092)) since

[2020-03-17 07:48] villmow commented on #1828
I think this depends on the definition of the scoring. I compute the overlap of unigrams (each word) between the predictions and references, which is the same as ROUGE-1. This may not be a very good metric for longer sequences (and maybe for sequences at all), but it is used in my task.

In this case a `true positive` would be any word from the *hypothesis* that appears in the *reference* regardle

[2020-03-17 09:05] mukhal opened #1854 "CNN BART produces summaries that consist mostly of numbers not words"
I have been trying to use the pre-trained Bart.CNN checkpoint to generate summaries. I use the script provided in the readme:
[code]
I get the following generations:
[code]

Anyone else experiencing this?

[2020-03-17 10:02] zelabean commented on #1850
I use another language and it similar to me.
my ppl is not converged about hyper parameters that I tried and author used.

[2020-03-17 12:07] mgaido91 commented on #1821
I am using fairseq master and I am getting the same `RuntimeError: Fatal error: gradients are inconsistent between workers. Try --ddp-backend=no_c10d.` when running on a single node with 8 GPUs. Adding `--ddp-backend=no_c10d` doesn't help. I am testing with the `--use-bmuf` flag now, but I think it should work without it too...

[2020-03-17 14:38] myleott commented on #1851
Very nice!

[2020-03-17 16:19] gaopengcuhk opened #1855 "How to run multi node distribution training using srun"
## 📚 Documentation

srun --gres=gpu:8 --ntasks=16 --ntasks-per-node=8 fairseq-train

Can you share the command to run multi-node training with srun. The code above want to run 16 GPU on 2 node with each node 8 GPU.

Thanks!

[2020-03-17 17:00] JohannesTK opened #1856 "mBART with CCMatrix"
Hi,

Thank you for open-sourcing mBART! 🤗

I couldn't help but wonder if you are planning to train mBART with [CCMatrix](https://github.com/facebookresearch/LASER/tree/master/tasks/CCMatrix) as well?

Thanks & stay healthy.

[2020-03-17 17:08] #1833 closed

[2020-03-17 19:05] Guitaricet commented on #1790
PR is ready for review

[2020-03-17 21:12] Alex-Fabbri commented on #1853
You need to set ``--max-source-positions`` and ``--max-target-positions`` for fairseq-generate, otherwise they will default to ``DEFAULT_MAX_SOURCE_POSITIONS`` in the given model.py file.  ``--max-len-a`` and ``--max-len-b`` control the max length of what you generate, not your input: the max output length is ``--max-len-a * x + --max-len-b`` where x is the size of the source input.

[2020-03-17 21:32] ngoyal2707 commented on #1856
That's a good question, this is currently under exploration. Training with noisy mined data is somewhat complex specially for low resource languages but we are exploring this direction.

Unfortunately I can't give any timelines here as there are many unknowns but if find this direction to be fruitful, we will definitely open-source the code and model like other projects.

[2020-03-18 01:34] astariul opened #1859 "❓ Pytorch 1.2 => 1.4 gives lower results"
## ❓ Questions and Help

I've been using BART in Fairseq release 0.9.0 with PyTorch 1.2.0 so far.
I wanted to upgrade dependencies of my project and use latest Fairseq master with PyTorch 1.4.0.

But I noticed lower ROUGE scores. After investigating, it seems to come from PyTorch update, as the results are similar (lower) when using Fairseq 0.9.0 with PyTorch 1.4.0.

---

**Did anyone noticed simi

[2020-03-18 03:00] lyzKF commented on #1776
@myleott Thank you !

[2020-03-18 03:03] lyzKF commented on #1776
@myleott  Can i export the 'Transformer model' to be ONNX format in Fairseq?  if so, how should i do it?

[2020-03-18 07:22] loopdigga96 opened #1860 "wmt19 model cannot run on gpu except #0."
## 🐛 Bug

I am running [tutorial](https://github.com/pytorch/fairseq/tree/master/examples/wmt19). I successfully loaded model from hub and tried to run it on second gpu (id=1). Which raised an exception that data and model are stored on different GPUs. With gpu(id=0) works fine.
[code]

### To Reproduce

#### Code sample
[code]

### Expected behavior

Run without errors

### Environment

 - fairse

[2020-03-18 09:17] zelabean commented on #1850
@faniuy
code_prob's best is maybe 2.

result["code_perplexity"] = torch.exp(
            -torch.sum(hard_probs * torch.log(hard_probs + 1e-7), dim=-1)
        )**.sum()**

Best ppl of code is 1 but the number of group is 2.

[2020-03-18 11:46] faniuy commented on #1850
@zelabean
But it shouldn't be 2.0 just after a few thousand updates. Somethings' not right.
And what puzzles me most is that the wav2vec in the master consumes half the Vram compared to wav2vec in tag v0.9.0 for the same settings. That is weird.
I don't know what happened yet. Too many code changes since 0.9.0.

[2020-03-18 15:31] MichalTurski opened #1862 "Enable not sorted batch as an input to LSTM encoder"
## 🚀 Feature Request
`LSTMEncoder.forward()` uses `pack_padded_sequence()` function from pytorch. Since this function does not require sequences to be sorted by length (`enforce_sorted` argument), we can also allow unsorted input to `LSTMEncoder.forward()`.

### Motivation

I use FairseqEncoder in case where order of sequences is important. Since support for unsorted batch have been already implem

[2020-03-18 16:01] mgaido91 opened #1863 "Speech recognition fails due to NaN if there is an input of size 1"
## 🐛 Bug

If there is an input sample with a single spectrogram, the training fails because everything is converted to NaN. This is because of the normalization which is applied to each item. Despite uncommon, this situation happens in common datasets, such as mozilla-voice.

### To Reproduce

Run your command on a dataset which has a sample with 1 spectrogram and if distributed the command fails

[2020-03-18 18:01] mgaido91 commented on #1840
I see only now that there is already https://github.com/pytorch/fairseq/issues/1826 which is probably the same issue. I am closing this in favor of it. Thanks @myleott .

[2020-03-18 18:01] #1840 closed

[2020-03-19 02:48] areomoon opened #1865 "Get Error when Execute BART Model Finetuning Code"
## 🐛 Bug

Hi, thanks for open source the summarization model BART.  I am following on this [tutorial](https://github.com/pytorch/fairseq/blob/master/examples/bart/README.summarization.md) to finetune the BART model on CNN-DM dataset. However, I get the following error when execute the finetuning code.
[code]
After getting this code, I have tried ```pip3 install cython``` , But it doesn't work.

##

[2020-03-19 04:54] Guangxuan-Xiao opened #1866 "Can't finetune roberta on wsc with the given bash script."
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
When I tried to reproducing roberta wsc and winogrande fintuing result with the bash script given in the README, it just couldn't work. It always shows that python is unable to infer criterion arguments and it requires me to implement WSCCriterion.build_criterion, but I don't know how

[2020-03-19 09:00] loretoparisi opened #1867 "Special tokens to pre-trained BART model"
## ❓ Questions and Help

#### What is your question?
Is it possibile to add special tokens to the pre-trained BART model? My text has `<s>` as sequence separator for sentences. I would like that the encoder will handle it as a whole token, otherwise the model will break it in codes and learn like `<s` or `s>` etc.

[2020-03-19 14:22] faniuy commented on #1850
Seems like the projection layers in gumbel vector quantizer consumed all the gradient, become over-parameterized.
Setting vq-depth to 1 makes things a little better since the prob perplexity no longer drops straight to 2.0.

[2020-03-19 22:56] moyid opened #1870 "How do I keep pre-training mBART?"
Can you provide the script I can use to keep pretraining mBART? For example if I want to do more pretraining on one language, or to add a new language?

Thank you!

[2020-03-20 01:39] fabrahman opened #1871 "Cannot finetune using fusion model - stuck and doesn't start training"
Hi,

I am following the read me in examples/storie
I have been able to train the model using following command:
[code]

I am also able to use ```interactive.py``` to generate stories using the best ```checkpoint_best.pt``` obtained in the previous step.
However when trying to finetune it in fusion setup and using the following command, nothing happens and it is stuck after printing out model archi

[2020-03-20 03:07] ngoyal2707 commented on #1865
As the error logs say:
[code]

[2020-03-20 03:07] #1865 closed

[2020-03-20 05:53] zeeshansayyed commented on #1853
Thank you @Alex-Fabbri . I think I made a mistake while trying that you.

[2020-03-20 05:53] #1853 closed

[2020-03-20 13:35] Guitaricet commented on #1790
@myleott sorry that I am asking you directly, but could you please comment if you want this feature in fairseq and accept the PR if so.

[2020-03-20 14:30] zelabean commented on #1850
@faniuy Thanks. now, I using vq-depth 1 and
no learning rate annealing with low learning rate.
if result good, I will announce you

[2020-03-20 16:54] myleott commented on #1849
Good question! A long time ago we found it slightly reduced peak memory usage, since it will sometime reuse the memory of the buffers instead of allocating new memory.

That said, we'll soon be removing this manual buffer management from sequence generator. It complicates the code a bit, and doesn't play nicely with torch.jit scripting.

[2020-03-20 16:54] #1849 closed

[2020-03-20 17:42] myleott commented on #1855
Generally you just need to set `--distributed-port` and `--ntasks-per-node 1`. Something like this should work:
[code]

[2020-03-20 17:42] #1855 closed

[2020-03-20 19:02] leocaprio opened #1872 "prepare-iwslt14.sh: chars are replaced with @. Why?"
## ❓ Questions and Help

After running the script [prepare-iwslt14.sh](https://github.com/pytorch/fairseq/blob/master/examples/translation/prepare-iwslt14.sh) the resulting files contain many `@` symbols. The file _valid.en_ begins like this:

[code]

Is this really the correct behavior?

#### What's your environment?

 - fairseq: 0.9.0
 - PyTorch: 1.4.0
 - OS: Ubuntu 18.04
 - How you installed fa

[2020-03-20 20:19] #1851 closed

[2020-03-20 21:29] myleott commented on #1826
Merging the above fix, please reopen if this is still an issue after this is merged!

[2020-03-20 23:07] moyid opened #1876 "how to do document-level translation with mbart"
how do I do document level translation with fairseq? For example, in the paper for mBART, document level translation is mentioned. Is there a document level task in Fairseq? Is there specific input format, for example to denote document boundary?

Thank you!

[2020-03-20 23:07] Guitaricet commented on #1872
This is called BPE-tokenization. It splits infrequent words into more frequent tokens. @@ is used to show when multiple tokens are a part of the same word.

For example:
antidisestablishmentarianism -> anti@@ dis@@ est@@ ablishment@@ arism

[2020-03-21 00:19] phosseini commented on #1579
Any update?!

[2020-03-21 04:22] tuhinjubcse commented on #1867
What I did was take their dict.txt and see entries from encoder.json which has count 0 ,take any such entry and replace it with the special token <s>

Also add a line that if token in <s> it should not do bpe split
https://github.com/pytorch/fairseq/blob/master/fairseq/data/encoders/gpt2_bpe_utils.py#L66

[code]

[2020-03-21 18:11] #1866 closed

[2020-03-21 18:15] #1826 closed

[2020-03-21 18:16] #1860 closed

[2020-03-21 20:25] freewym commented on #1826
@myleott Thanks for fixing it! However, I still have another problem related this with this fix.  Have you ever try to put a tensor in logging_output that `FairseqCriterion::forward()` returns. I encountered an error right after doing a validation step with multiple GPUs:

Traceback (most recent call last):
  File "/home/ywang/fairseq6/fairseq_cli/train.py", line 348, in <module>
    cli_main()

[2020-03-21 23:55] #1830 closed

[2020-03-22 08:44] #1872 closed

[2020-03-22 09:46] tonylekhtman opened #1877 "Improve the translate api for TransformerModel"
## 🚀 Feature Request
When using verbose mode on the TransformerModel translate method I'd like to get the full response to the api call and not just printed to console.

### Motivation
I want to present my users with all the translation options and alignment of the sentence to the source sentence so they would be able to choose the best translation and return to the source translation words if som

[2020-03-22 10:06] patil-suraj opened #1878 "BART multi-gpu fine-tuning error"
the train.py gives this error while fine-tuning bart on CNN/DM

[code]

I've installed fairseq from master branch
Training on 8 V100 GPU's
torch version 1.4.0

[2020-03-22 10:23] patil-suraj commented on #1878
When I use 1 or 2 GPUs the training runs fine

[2020-03-22 10:38] patil-suraj commented on #1878
Turned out to be RAM issue, I had 14 GB RAM and it got full. How much RAM is recommended for fine-tuning BART on CNN/DM with 8 GPUs ?

[2020-03-22 12:37] alrojo opened #1879 "Production with fairseq, translation"
## ❓ Questions and Help

#### What is your question?
I want to port my trained model to production. It seems the CLI is not a good option as I want to avoid having to reload my model. So I am testing the `from_pretrained` python functions provided in hub_utils, but I cannot seem to make it work.

#### Code
Given a model trained with sentencepiece, I execute the following file `run.py` inside the f

[2020-03-22 14:24] tonylekhtman opened #1880 "Print Alignment in hub_utils not working"
## 🐛 Bug

I can't use the print_alignment option when using the TransformerModel translate option.
### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

[code]

#### Code sample
[code]

### Expected behavior

I want it to print the alignment row to console just as the fairseq-generate script does.

### Environment

 - fairseq 0.9
 - PyTorch 1.4
 - OS (e.g., L

[2020-03-22 15:49] kkaiser commented on #1879
`bpe_codes` takes a file that must be in the same directory as specified in the first argument
[code]

path to file: `checkpoints/transformer/sentencepiece.bpe.model`

[2020-03-22 16:04] lhk commented on #1880
huh, I've just stumbled upon the exact same problem.
I would like to use alignments and searched in the codebase on how to get them.

I found this:
https://github.com/pytorch/fairseq/blob/42f65d65776327598a2d3ded2e92e5818c70a125/fairseq/hub_utils.py#L186

It looks like alignments should be printed if both `verbose` and `print_alignment` are set to `True`.

So I tried the following sample code:
[co

[2020-03-22 16:06] lhk commented on #1880
After some more browsing of the codebase, I made a workaround. Rewrite the last line of the sample method like this:

[code]

and it will return both the translation and the alignment.

Here is the line of code to be edited as a permalink:
https://github.com/pytorch/fairseq/blob/42f65d65776327598a2d3ded2e92e5818c70a125/fairseq/hub_utils.py#L133

Please note though that this will still only work if

[2020-03-22 16:40] lhk opened #1881 "alignment indices out of range for sequence of tokens"
## 🐛 Bug
I would like to use the predicted alignment to match tokens in the in- and output.

### To Reproduce

To get alignments, I have modified the hub_utils and changed the following line:
https://github.com/pytorch/fairseq/blob/42f65d65776327598a2d3ded2e92e5818c70a125/fairseq/hub_utils.py#L133

I replaced the line with the following code, which will return not only the tokens, but also the ali

[2020-03-22 16:43] lhk commented on #832
also interested.

[2020-03-22 17:13] lhk commented on #1881
Here is an easier way to reproduce, execute the following in the terminal:

[code]

As an example, you can enter "There is a bird in the tree"

This produces the alignments: `0-0 0-1 1-2 3-3 3-4 3-5 4-6 6-7 6-8`
Curiously, my hacky code version produces different alignments:
`(3, 0), (1, 1), (1, 2), (3, 3), (3, 4), (5, 5), (4, 6), (6, 7), (6, 8)`

But in both cases, the alignments contain `6-8` an

[2020-03-22 17:20] lhk opened #1882 "Get alignments in python code"
## ❓ Questions and Help

#### What is your question?
I would like to access alignments or even the attention matrix produced by a model from torch hub.

The combination of verbose and print_alignment should provide an alignment as a logging message.
But I would prefer getting it in python directly, instead of parsing it from logging output.
Is that possible?

After reading the API docs and browsin

[2020-03-22 19:16] tuhinjubcse opened #1883 "BART as a Language Model"
#### What is your question?
I am interested to use BART as a Language Model to assign the Language modeling score (Perplexity score) of a sentence.
Something on the lines of https://github.com/huggingface/transformers/issues/473

Environment
- fairseq Version (e.g., 1.0 or master): 0.9.0
- PyTorch Version (e.g., 1.0) 1.3.1
- OS (e.g., Linux): Linux
- How you installed fairseq (pip, source):
- Buil

[2020-03-22 19:19] tuhinjubcse commented on #1883
@myleott  any pointers ?

[2020-03-22 19:22] moyid opened #1884 "Has the released pretrained mBART model been pretrained on document level texts?"
The paper for mbart: https://arxiv.org/pdf/2001.08210.pdf describes document level translation, does the released pretrained model include document level pretraining?

[2020-03-22 20:34] lhk commented on #1882
I'm sorry, I missed an exact duplicate of my issue: https://github.com/pytorch/fairseq/issues/1877

Closing this.

[2020-03-22 20:34] #1882 closed

[2020-03-22 21:42] myleott commented on #1881
It's because it's removing the target side BPE when printing. If you comment out the `decode_fn` line in interactive.py then you get:
[code]

I'll submit a fix.

[2020-03-23 07:40] zelabean opened #1885 "wav2vec and vq-wav2vec parameter"
I have trained wav2vec and vq-wav2vec with another language wav file about 1 month and try very many case of hyper parameters.

but, performance still bad even in case of Libri speech 960h

Have anyone ever had a good result by training own dataset?

If you have a problem with hyperparameters, please provide the correct parameters.

[2020-03-23 10:21] tonylekhtman commented on #1880
From what i see the problematic line is:
https://github.com/pytorch/fairseq/blob/42f65d65776327598a2d3ded2e92e5818c70a125/fairseq/hub_utils.py#L188

it should instead be:
 ' '.join(['{}-{}'.format(src_idx, tgt_idx) for src_idx, tgt_idx in hypo['alignment'])

[2020-03-23 11:57] shaywh opened #1886 "Best way to implement BPE dropout?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

(Done, didn't see anything similar)

#### What is your question?
Hi,
I am trying to implement [BPE-dropout](https://arxiv.org/abs/1910.13267), using [YouTokenToMe](https://github.com/VKCOM/YouTokenToMe) or subword-nmt tokenizers. This requires reloading the data in each epoch, each time with slightly different t

[2020-03-23 12:07] alrojo commented on #1879
Thank you, this solved the issue.

[2020-03-23 12:07] #1879 closed

[2020-03-23 13:24] ajesujoba opened #1887 "Extra spaces when dict.string(tensor) is used"
I am trying to get the string(sentence) from a tensor, thus I had src_dict.string(tensor), but the function returns a string with too many white spaces in between characters and even words.

Instead of returning the string in the format below:
`three elementary schools , Lake Travis Elementary School , La@@ ke@@ way Elementary School , serve sections of La@@ ke@@ way .`

it returns the following w

[2020-03-23 14:47] hadyelsahar commented on #1626
@MichaelZhouwang  I don't believe this will work since Fairseq has a different class structure than Pytorch transformers

nonetheless, to verify here's what I got
[code]

[2020-03-23 16:32] hadyelsahar commented on #1626
seems that someone recently implemented a transformation of HF class structure to Fairseq one,
https://github.com/pytorch/fairseq/blob/master/fairseq/models/huggingface/hf_gpt2.py

A quick and dirty  way to make GPT-2 work on this is adapt this model to load a pretrained HF model  instead of loading from a config file as in the fairseq example atm.

[2020-03-23 17:58] lhk commented on #1881
Hi, thanks for the quick answer and help, this is awesome :)

I've added a similar workaround to my local fairseq installation, also outputting both the original and detokenized hypo.

But to be honest, it's not that useful. I would like to use the alignment for further text processing and having the bpe in there is a problem. If the text still contains those weird @@ encoding symbols, it's just n

[2020-03-23 20:14] lhk commented on #1881
Hm, after looking at some translations, it seems as if BPE only ever adds @@, potentially more than once.

In fact, the bpe has a bpe_symbol member that seems to be constant.
So does this perform only a single step of bpe?
Can I just merge tokens that end on the bpe_symbol and adjust the alignment accordingly?

And sorry for the off-topic question, but why are you doing this?
I've debug-stepped th

[2020-03-23 20:34] Hannabrahman commented on #1871
@myleott any pointers please? I would really appreciate that.

[2020-03-23 21:09] nicolasspring opened #1895 "Overflow when Reproducing Backtranslation Reverse Model"
When reproducing the reverse model from the [Understanding Back-Translation at Scale](https://arxiv.org/abs/1808.09381) paper, training fails after `FloatingPointError: Minimum loss scale reached (0.0001)`:
[code]
The training command was taken from [https://github.com/pytorch/fairseq/tree/master/examples/backtranslation#step-2-back-translate-monolingual-german-data](https://github.com/pytorch/fai

[2020-03-23 23:12] myleott commented on #1895
To adapt for 1 GPU you'd need to multiply update-freq by 8. So `--update-freq 128` 😄

[2020-03-23 23:21] myleott commented on #1881
Here is the original paper that introduced BPE: https://arxiv.org/abs/1508.07909. It's pretty widely used these days in machine translation because it allows you to represent a much larger vocabulary without training a separate embedding for every word variant. For example, instead of having an embedding for `learning`, `learned`, `learns`, you might have one for `learn@@` and then a few for commo

[2020-03-23 23:21] #1881 closed

[2020-03-24 03:06] #1878 closed

[2020-03-24 03:50] shamanez opened #1898 "VQ-wav2vec : Should we fine tune the BERT model in down-streaming tasks ?"
In the VQ-wav2vec paper, authors have performed several tasks on embeddings generated from BERT architectures by inputting the discretized audio.  It is not clear that whether they finetuned the BERT base models or just kept is frozen and only used it to extract embeddings.

[2020-03-24 04:10] gyuwankim opened #1899 "BART Pretraining Script"
## ❓ Questions and Help
First of all, thanks for the sharing BART model checkpoints and codes to run.

#### What is your question?
Could you provide a pertaining script used for BART models?

I hope to train the BART model in my own language.
(Of course, I am aware of mBART models that support other languages, but my target task is not MT so I believe training BART on other language data only migh

[2020-03-24 07:29] bricksdont commented on #1895
Hi Myle,

But did you see that `--max-tokens 14336` instead of `3584`? Isn't `--update-freq 32` the right multiplier with this batch size?

[2020-03-24 07:33] lhk commented on #1881
Ah that makes sense.
Ok, then I‘ll be able to adjust the alignment accordingly.

And thanks a lot for the papers

[2020-03-24 07:38] bricksdont commented on #1895
And if you could perhaps clarify: What exactly does "loss overflow" mean and what is causing this overflow? Is it a consequence of using `--fp16`?

[2020-03-24 09:27] david-macleod opened #1900 "vq-wav2vec RoBERTa extract all features or just final layer?"
## ❓ Questions and Help

#### What is your question?

To get the results achieved in the vq-wav2vec paper were the features extracted from all layers of the RoBERTa model or just the final layer i.e. was return_all_hidden set to True or False? `roberta.extract_features(tokens, return_all_hiddens=True)`

Many thanks

[2020-03-24 12:17] gvskalyan opened #1901 "Does Dynamic Quantization speed up Fairseq's Transfomer?"
#### What is your question?

As per [this](https://pytorch.org/tutorials/intermediate/dynamic_quantization_bert_tutorial.html) tutorial in torch, quantize_dynamic gives speed up of models (though it supports Linear and LSTM as of now).
But I am unable to observe speed-up in fairseq's Transformer case whereas Huggingface's BERT gives good speed up.

Is there any suggestion or am I missing something

[2020-03-25 01:22] myleott commented on #1895
Ah good point.

There's a few things happening here.

The overflows refer to gradients that are too big and overflow the range supported by fp16. We use a [dynamic loss scaler](https://docs.nvidia.com/deeplearning/performance/mixed-precision-training/index.html#faq-general) that scales the gradients to keep them in a reasonable range (and avoid overflow). The "loss overflow" warnings indicate that

[2020-03-25 02:51] ShreyaKhurana opened #1903 "CNN evaluation on translation task gives unexpected keys error"
## ❓ Questions and Help

#### What is your question?

I followed the instructions to train the` fconv_wmt_en_de` model and then was trying to evaluate the checkpoint. But I get the following error (all layers with linearized_weight are not there in state_dict):

[code]

#### Code

I train the model on a single V100 GPU using this command

[code]

and my evaluation command (which I run on CPU) is:

[2020-03-25 09:10] iyor opened #1904 "Loss increase with RoBERTa pretraining despite large batch size"
## ❓ Questions and Help

#### What is your question?

I am pretraining RoBERTa on a decently sized setup (40 Tesla V100 32GB GPU cards spread across 4 nodes) on about 100GB of text data. I can train for about 1 epoch on this data before losses start significantly increasing. My question is: is this really a reasonable scenario for a setup of my size/configuration? Am I perhaps running things incor

[2020-03-25 11:47] nicolasspring commented on #1895
Thank you for your help and comments Myle,

I was able to get comparable results to yours for the first 10 epochs by working with `--max-tokens 3584 --update-freq 128` and the loss scale did not get smaller than 1.0:
[code]

I didn't test omitting `--fp16` as the above solution worked fine.

[2020-03-25 11:47] #1895 closed

[2020-03-25 12:12] MrLee66 opened #1905 "Is the pretrained-model unidirectional？"
## ❓ Questions and Help
 Whether i can use the pretrained-model A-B to translate A to B and i can use it to translate B to A or not?  Thanks

[2020-03-25 12:45] myleott commented on #1904
You should remove `--use-bmuf`. That flag enables [Blockwise Model-Update Filtering (BMUF)](https://www.microsoft.com/en-us/research/publication/scalable-training-deep-learning-machines-incremental-block-training-intra-block-parallel-optimization-blockwise-model-update-filtering/), which you don't want. That may also be why your total batch size is so small (`bsz=395.210`).

Also, you can remove `

[2020-03-25 13:42] myleott commented on #1901
What kind of model are you trying to quantize? It sounds like you're trying to speed up translation models, since you're modifying generate.py. A lot of the runtime here is due to overhead from beam search, since we're generating one token at a time.

BERT doesn't have this issue, since it gets the whole input all at once and produces the entire output all at once. Thus you should generally see bi

[2020-03-25 14:51] chrisjbryant opened #1906 "Using RoBERTa to fill sub-word masks"
Quick question: How does RoBERTa as a masked language model handle rare word mask filling?

Context: In original BERT, if you want to predict a token that consists of multiple word pieces, you need multiple masks; e.g.
[code]
Is the same true for RoBERTa? I know RoBERTa uses BPE instead of word pieces, but do we still need to know how many sub-words constitute a complete word?

[2020-03-25 15:48] sshleifer opened #1907 "MBART evaluation: can't find WMT paths"
Hey,
I was trying to get started playing with mbart, and don't understand two things:
- what is `path_2_data` should be in this command?
https://github.com/pytorch/fairseq/blob/5e79322b3a4a9e9a11525377d3dda7ac520b921c/examples/mbart/README.md#L80
- what the "Set tokenizer here" refers to in the wmt-16 scripts.

Would be happy to write detailed steps if you guys could point me in the right directio

[2020-03-25 16:09] chledowski opened #1908 "Check if optimizer matches during finetuning is broken with FP16"
## 🐛 Bug

After training a model for an epoch with adam_optimizer and using the checkpoint as `--restore-file`, if we use a different optimizer alongside fp16, then the assert in https://github.com/pytorch/fairseq/blob/master/fairseq/trainer.py#L222 will still pass, because both optimizers will be FP16Optimizers, even though the actual optimizers do not match.

after adding
[code]
i got:
[code]

E

[2020-03-25 18:19] leixxli opened #1909 "How to change vocabulary size in transformer model?"
Hi, I am using Transformer model to translate English to Spanish.

First, I trained transformer in Europarl data.  The vocabulary size is 7376 for english and 9216 for Spanish. Then, I finetuned a smaller dataset on this model, the vocabulary size is 6447 types for english and 8783 in Spanish.

The problem is, the vocabulary size didn't match, so I can't continue training extra steps in this small

[2020-03-25 20:35] SamuelLarkin opened #1910 "valid_best_loss not actually the best"
## 🐛 Bug

"valid_best_loss" reported in the logs is not the best but rather the value of the first epoch.

### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

[code]

[code]

[code]

Note that the `valid_best_lost` at epoch 401 is the same as `valid_loss` at epoch 1 and stays like that through out training.  Looks like it should be better when getting small

[2020-03-25 20:43] SamuelLarkin commented on #1910
Hi,
  guess I had to open a issue to see the error starring at me in the face.  I used `--maximize-best-checkpoint-metric` that is why.

I don't get why we would need to specify max/min when this should easily be inferred from the metric/criterion itself?

[2020-03-25 22:12] myleott opened #1912 "Have Criterions define default checkpoint metric"
The criterion can define what the default checkpoint metric is, and whether to maximize or minimize.

[2020-03-25 22:13] myleott commented on #1910
Yep, glad this is resolved :)

Good point. I've created #1912 to track this.

[2020-03-25 22:13] #1910 closed

[2020-03-26 00:16] erip opened #1913 "How can I save a scripted module?"
## ❓ Questions and Help

#### What is your question?

I'd like to embed a fairseq model in a java application, but when I try to load a pretrained model using the java runtime, I see the following error:

[code]

How can I save my fairseq models using `torch.jit.save` instead of `torch.save`?

#### What have you tried?

N/A

#### What's your environment?

 - fairseq Version (e.g., 1.0 or master):

[2020-03-26 03:50] Hannabrahman commented on #1871
I also tried to create a new environment and fresh install fairseq and redo it again. I cannot finetune on the pretrained model using fusion command [here](https://github.com/pytorch/fairseq/tree/master/examples/stories).
When I try to interrupt the program (because it takes for ever and doesn't do anything) seems like the problem should be in loading the checkpoint since this is the log after try

[2020-03-26 03:58] sshleifer commented on #1907
Another clue:

[code]
gives
[code]

suggesting that path2dat is something like `'en_XX-ro_RO-wmt_raw/dict.en_XX.txt'` and all I need is to figure out where to get/make that data. Help much appreciated!

[2020-03-26 04:38] gvskalyan commented on #1821
I am facing the same issue and ` NCCL_DEBUG=INFO`'s trace is same as in [this](https://discuss.pytorch.org/t/crash-when-initializing-distributed-training-across-2-machines/72564) pytorch's forum discussion.
Reinstalling torch did not help.
Please look into this @myleott

[2020-03-26 07:35] freewym opened #1915 "Test fails starting from a recent commit"
## 🐛 Bug

Test fails starting from [this commit](https://github.com/pytorch/fairseq/commit/42f65d65776327598a2d3ded2e92e5818c70a125):

 File "/home/runner/work/fairseq/fairseq/fairseq/criterions/cross_entropy.py", line 59, in reduce_metrics
    metrics.log_scalar('loss', loss_sum / sample_size / math.log(2), sample_size, round=3)
  File "/home/runner/work/fairseq/fairseq/fairseq/logging/metrics.py

[2020-03-26 08:31] iyor commented on #1904
Thanks for the quick response. I am currently re-running training with `--use-bmuf` removed and `--ddp-backend=c10d`. I'll know if this solves my loss increase issue sometime tomorrow.

[2020-03-26 09:49] Bachstelze opened #1916 "Byte-Level Subwords for mBART"
## 🚀 Feature Request for universal subwords with mBART
Thanks for releasing the BBPE code!
Recent results of mBART consider a universal language space. But its vocabulary is limited to the language family seen during training. Do you think that BART is compatible with the work of @kahne, @kyunghyuncho and @MultiPath  for [Neural Machine Translation with Byte-Level Subwords](https://arxiv.org/pdf/1

[2020-03-26 13:44] irshadbhat opened #1917 "Why does `translate` return different output on different runs when we use `sampling` instead of `beam`?"
[code]

[2020-03-26 14:34] sshleifer opened #1918 "unused variable in TranslationFromPretrainedBart.build_dataset_for_inference"
The `source_tokens` variable in
https://github.com/pytorch/fairseq/blob/bb1750d0442a617b08d7d727c049ab8c8e5cf460/fairseq/tasks/translation_from_pretrained_bart.py#L111

is created and then not used.

Is line 112 supposed to be

[code]
@yinhanliu

[2020-03-26 16:40] yinhanliu commented on #1918
I think you are right! Thanks for pointing this out. This is function has never been called in fairseq yet, since a pertained model is not able to translate anything.
@ngoyal2707

[2020-03-26 18:14] seraphinatarrant opened #1919 "BART extract_features: memory reduction options + validity of running batch mode"
I'm trying to use BART as an encoder of another system using `bart.extract_features`. But I'm running into a couple issues that I'd like advice trying to find workarounds for.

1) BART (bart-large) takes up a lot of memory which makes me end up getting OOM (even in eval mode) when I try to train a separate (very lightweight) model at the same time.
I am using `bart.eval() bart.half() bart.cuda()`

[2020-03-26 19:10] tuhinjubcse commented on #1919
@myleott Can you please help us here . We are stuck on this

[2020-03-26 20:23] myleott commented on #1915
Fixed by f2ae57908bacff105bde22dad8fb6f6881251a9d, thanks for flagging!

[2020-03-26 20:23] #1915 closed

[2020-03-26 22:09] ajesujoba opened #1921 "Bilingual Translation in Fairseq"
I am trying to train a Multilingual MT between two languages, English(En) and German(De). It is expected to be a Bilingual (Bidrectional) training.

Can I do it without using the following command: `task multilingual_translation --lang-pairs de-en,en-de`? This requires that I have two copies of the training data? Or can I achieve the training without the multiple copies ?

[2020-03-27 01:01] Hannabrahman commented on #1871
@myleott , @huihuifan Can you please kindly help me with this? I'm stuck in this. Thanks

[2020-03-27 02:09] zhao1402072392 opened #1923 "performance of training a new transformer"
i follow the commend of training a new model(here is transformer)on iwslt2014 de-en, but I just got BLEU score 7.94 at 80th epoch.

my commend are as follows:

cd examples/translation/
bash prepare-iwslt14.sh
cd ../..
TEXT=examples/translation/iwslt14.tokenized.de-en
python3 preprocess.py --source-lang de --target-lang en --trainpref $TEXT/train --validpref $TEXT/valid --testpref $TEXT/test --dest

[2020-03-27 07:44] iyor commented on #1904
Left pretraining running overnight (also added the `--fp16` flag), and sure enough halfway through epoch 2, losses start increasing. Eventually, I get the error message,
[code]

Here is some training output that precedes the stack trace:
[code]

Note that my batch size is 8960 and that the learning rate is well below the peak learning rate in the original RoBERTa paper. I shouldn't really need gra

[2020-03-27 07:54] iyor commented on #1904
As per other issues in this repo I'll try reloading the model from a checkpoint and use a different seed. However, judging from similar issues in the repo, this is a problem that seems to be associated with more modest setups, where batch sizes are limited. Is it reasonable to see these types of loss explosions on bigger setups as well, or is perhaps something else going on?

[2020-03-27 10:02] blackcat84 opened #1924 "fine-tuning mBART for monolingual summarization"
I was wondering whether it'd be possible to fine-tune mBART for summarization on one of the languages used during pre-training. Judging from the way mBART (cc25) was pre-trained (language to same language instead of cross-language) I suppose it's doable?
My idea is to fine-tune by simply taking the text as input to the encoder and the summary as input/output of the decoder.
Do you have any tips or

[2020-03-27 12:20] moyid opened #1925 "multilingual_denoising task errors"
I'm trying to run the 'multilingual_denoising' task for pretraining mbart, and I get this error:
Traceback (most recent call last):
  File "/home/ubuntu/fairseq/train.py", line 11, in <module>
    cli_main()
  File "/home/ubuntu/fairseq/fairseq_cli/train.py", line 321, in cli_main
    main(args)
  File "/home/ubuntu/fairseq/fairseq_cli/train.py", line 59, in main
    task.load_dataset(valid_sub_sp

[2020-03-27 13:46] huihuifan commented on #1871
based on your stack trace, it looks like it's having trouble loading the model architecture as the state dicts don't match. Can you put a breakpoint with pdb to check what the misalignment could be?

[2020-03-27 15:55] Hannabrahman commented on #1871
Thanks for reply.
I just realized from the beginning of previous log that it probably should be for loading state_dict of ```FConvModelSelfAtt```. Maybe it doesn't initialize the added component to fusion model?

here is the log:
[code]

[2020-03-27 16:16] Ir1d commented on #570
Hi, I'm trying to use KD for en-de translation. In [the doc](https://github.com/pytorch/fairseq/tree/master/examples/nonautoregressive_translation#knowledge-distillation) it said `decode the training set to produce a distillation dataset`. Could you give me some hint on how to obtain this distillation dataset after I train my model?

[2020-03-27 18:31] vr25 opened #1926 "pretraining RoBERTa"
Hi,

Can you please help me with this error here https://github.com/VinAIResearch/PhoBERT/issues/6 ?

Also, I just extracted 17 examples so as to just try out on a small subset instead of the entire dataset.

Thanks!

[2020-03-27 22:45] Bachstelze commented on #1907
Yes, you need the preprocessed data which you want to translate.
Have a look here: https://github.com/pytorch/fairseq/issues/1758

[2020-03-28 01:22] tuyaao opened #1928 "what tools is used for sentence segmentation in Roberta"
Hi,

In DOC-SENTENCES and FULL-SENTENCES training format, what tools is used to segment sentences on multilingual training data?

[2020-03-28 01:30] sshleifer commented on #1758
@mjpost This is very helpful!

I am having trouble following what the final 37.8 solution ended up being.

Is `out.clean.wmt19.ro.txt` generated from your original script or an intermediate result?
Thanks!

[2020-03-28 01:40] shamanez opened #1929 "VQ-wav2vec: What is the maximum length of the sequence when training tokenized audio with BERT architectures?"
In usual wav2vec training, it says max audio length is 150000, which creates **935** discrete representations. I am still not clear what is the maximum sequence length of the transformer architectures that used to train the tokenized audio with BERT tasks.

[2020-03-28 03:34] dmortem opened #1930 "Question about NAT model on translation task"
Hi,

Now I am working on the translation task with NAT models. However, I found that I cannot apply NAT models on 'translation' task. In [nat_loss.py](https://github.com/pytorch/fairseq/blob/master/fairseq/criterions/nat_loss.py#L94), it calls sample["prev_target"]. However, raw sample doesn't have 'prev_target' attribute and only has 'previous_output_tokens' attribute. In ['translation_lev' task]

[2020-03-28 04:40] shamanez opened #1931 "wav2vec : can we use pretrained wav2vec model to extract features from audio sampled with less sampling rates (12K)?"
I have set of audios that are sampled at 12K **not 16K**. Since wa2vec has retained on 16K audio, is that ok if I use wav2vec to extract features from 12K audios?

[2020-03-28 09:48] 14H034160212 opened #1932 "A rookie question of RoBERTa finetuning on RACE dataset"
## 🐛 Bug

Hi, I am trying to use the fine-tuning code of roberta on race dataset on Colab with GPU. But I cannot run the following code on the Colab. Does any know how to solve it? Thanks a lot.
https://github.com/pytorch/fairseq/blob/master/examples/roberta/README.race.md#3-fine-tuning-on-race

Here is the error information.
[code]

And there is a red wavy line of that line
[code]

I guess probab

[2020-03-28 10:16] RingoS commented on #1199
same issue here. It happened after I re-installed fairseq with some changes making on the source code.

[2020-03-28 19:25] erip commented on #1932
It seems like you're trying to run this in a python cell. What happens when you add a `!` to the beginning of the command so it's interpreted as a unix command; i.e.,

```! CUDA_VISIBLE_DEVICES=0 fairseq-train $DATA_DIR --ddp-backend=no_c10d   --restore-file $ROBERTA_PATH   --reset-optimizer --reset-dataloader --reset-meters   --best-checkpoint-metric accuracy --maximize-best-checkpoint-metric   -

[2020-03-28 21:48] erip commented on #1923
It doesn't seem like you're training/applying BPE to your input sequences.

[2020-03-28 23:03] 14H034160212 commented on #1932
Thanks a lot! It works!

[2020-03-28 23:03] #1932 closed

[2020-03-29 01:40] zhao1402072392 commented on #1923
i think i did, beacause that the \fairseq\examples\translation\prepare-iwslt14.sh applying BPE,and I saw my processed dataset ,it's indeed applying BPE.

[2020-03-29 02:40] shamanez commented on #1929
I checked in the checkpoint. It says max positions are 2048.

Namespace(activation_dropout=0.0, activation_fn='gelu', adam_betas='(0.9, 0.98)', adam_eps=1e-06, arch='roberta_base', attention_dropout=0.1, best_checkpoint_metric='loss', bpe=None, bucket_cap_mb=25, clip_norm=0.0, cpu=False, criterion='masked_lm', curriculum=0, data='/checkpoint/stes/asr/latent_variables_vae/latents_vae_full_large_050

[2020-03-29 02:40] #1929 closed

[2020-03-29 02:40] #1931 closed

[2020-03-29 02:53] 14H034160212 opened #1933 "RoBERTa-large model fine-tuning RACE dataset with RuntimeError: CUDA out of memory"
## 🐛 Bug
Hi, Does anyone have tried fine-tuning the RoBERTa-large model with RACE dataset on the Colab GPU K80 with 7.43 GiB total capacity? I have run it, but with the RuntimeError: CUDA out of memory issue.
I have tries to change the MAX_SENTENCES to 1 and UPDATE_FREQ to 16, but still have the same issue. I have also tried run that on my own GTX-1660Ti GPU with 6 GiB total capacity. The result i

[2020-03-29 07:35] RingoS commented on #1199
I found the solution at [https://github.com/pytorch/fairseq/issues/1346#issuecomment-567054891](url). Just do `python setup.py build_ext --inplace` in the fairseq source folder.

[2020-03-29 11:42] gvskalyan commented on #1841
Hi @aagohary ,

I am trying to to fine-tune mBART on a language of dataset size 0.7 Million, I use the same command as you i.e., modified the existing to ` --memory-efficient-fp16 --max-tokens 128`, but still I am unable to train due to CUDA out of memory error.

Trained even on a single GPU.
Using 8 Geforce RTX 2080ti (11 GB RAM).

Can you please confirm the above RAM would be sufficient to fine-

[2020-03-29 13:13] erip commented on #1933
Can you please post the full training command?

[2020-03-29 13:33] 14H034160212 commented on #1933
Hi @erip, Thank you so much for your feedback. Exactly, I agree with you. Here is the full training command.
[code]

[2020-03-29 14:04] erip commented on #1933
This is kicking the can down the down, but what happens if you use `--memory-efficient-fp16` instead of `--fp16`? I'm not sure. Also try cutting `--update-freq` in half (though I'm not sure this actually impacts memory usage). Worst case scenario you could clear the cache regularly, but that'll slow down training.

[2020-03-29 14:12] 14H034160212 commented on #1933
Thanks @erip, I will have a try.

[2020-03-29 16:59] RingoS commented on #1199
I found the solution. Just run `python setup.py build_ext --inplace` in the fairseq source folder and all extensions will be built. Besides, if you cannot use libnat_cuda, you need to set a CUDA_HOME path.

[2020-03-29 17:55] aagohary commented on #1841
I am using a single GeForce GTX 1080 Ti GPU which also has 11GB of memory.

[2020-03-29 20:22] JustCunn opened #1935 "Installation Error"
When installing Fairseq I got this error:
(It is really long, apologies)

Building wheels for collected packages: fairseq, mecab-python3
  Building wheel for fairseq (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'c:\users\just1\appdata\local\programs\python\python36\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\just1\\AppData

[2020-03-29 21:29] Alex-Fabbri commented on #1921
I think you can just preprocess the data for one direction and then follow the naming conventions and use symbolic links for the other direction, to avoid two copies of the data.

[2020-03-29 21:31] Alex-Fabbri commented on #1921
I think you can just preprocess the data in one direction and follow the naming conventions and create symbolic links for the other direction, to avoid duplicating the data.

[2020-03-29 23:26] #1921 closed

[2020-03-30 00:26] erip commented on #1923
Oops - I didn't see that in your commands above! You should make `--max-tokens` as large as possible without blowing out memory when training this model. Replace `--batch-size` with `--max-tokens 4096` in your training step.

[2020-03-30 01:12] zhao1402072392 commented on #1923
ok,i'll try that, thank u very much ^_^

[2020-03-30 01:17] zhenpingli commented on #1199
3Q for you help.This have take hours of my time .
FIRST shoud do python setup.py build_ext --inplace and pip install --editable .  at index
Second MUST set a CUDA_HOME path
the order is:
put
export PATH=/usr/lib/cuda/bin:$PATH
export LD_LIBRARY_PATH=/usr/lib/cuda/bin/lib64:$LD_LIBRARY_PATH
in ./bashrc
export CUDA_HOME=/usr/lib/cuda
lib/cuda is nvida driver path
Final source ~/.bashrc

[2020-03-30 04:36] 14H034160212 commented on #1933
Many thanks @erip. The code is running on the Colab with K80 GPU (7 GB total memory) by using ```--memory-efficient-fp16``` to replace the ```--fp16``` and cutting ```--update-freq``` in half. Only one issue is that the speed of the running is quite slow. Do you have any suggestion? Appreciate a lot.

[2020-03-30 06:24] iyor commented on #1904
Using a different seed didn't work, so I caved and went with a lower peak learning rate on friday. Still running and things seem OK.

[2020-03-30 07:40] gvskalyan commented on #1841
Hi, Does your GPU support fp16 training, can you provide the output of this
`torch.cuda.get_device_capability(0)[0]`

Also in the train command does target-lang need to be `en` or `en_XX` as in the langs variable, in order to properly finetune since it is pretrained using particular lang-id?

[2020-03-30 09:10] gvskalyan opened #1936 "CUDA out of Memory when fine-tuning mBART pre-trained CC25 model"
## ❓ Questions and Help

While fine-tuning mBART pre-trained CC25 model on preprocessed data with the given sentencepiece model, was always running into out of memory problems.
Please help to resolve this -

`denom = exp_avg_sq.sqrt().add_(group['eps'])
RuntimeError: CUDA out of memory. Tried to allocate 978.00 MiB (GPU 0; 10.76 GiB total capacity; 8.73 GiB already allocated; 659.12 MiB free; 9.26

[2020-03-30 09:46] #1917 closed

[2020-03-30 13:01] SunbowLiu opened #1937 "How to generate translation using multiple GPUs?"
Hi,
Right now I use --num-shards and --shard-id to generate multiple files by multiple gpus, and then concat the results to model multiple gpu decoding.
Is there any more convenient way?
Thank you very much!

[2020-03-30 14:06] LividWo opened #1938 "Question about the implementation of "encoder-normalize-before" in transformer.py"
## ❓ Questions and Help

#### What is your question?
In the implementation of transformer.py, there is a parameter called "encoder-normalize-before", which is explained as "apply layernorm before each encoder block".

However, when I read the code, it seems that it is applied **after** all encoder layers? I attached the code snippet from transformer.py line 469-481 below, which is taken from the T

[2020-03-30 14:14] gaopengcuhk opened #1939 "Question on Scaling Machine Translation Evaluation remove-bpe command"
fairseq-generate \
    data-bin/wmt16_en_de_bpe32k \
    --path checkpoint.avg5.pt \
    --beam 4 --lenpen 0.6 --remove-bpe

When I drop the --remove-bpe, the BLEU score will increase a lot. Can you give any explanation?

[2020-03-30 21:37] villmow commented on #1912
Shouldn't the criterion define a default metric, which can be overridden by `--maximize-best-checkpoint-metric`?  For example if I want to maximize bleu...

[2020-03-30 21:39] villmow commented on #1909
Use byte-pair-encoding before  preprocessing your dataset with fairseq (e.g. subword-nmt).

[2020-03-30 21:51] villmow commented on #1877
You could use the output of `generate` (which contains all the hypos and alignments). See  `sample` - which is called by `translate` - for how to preprocess your input:

https://github.com/pytorch/fairseq/blob/4d2efae84dc4eaf8c66625ab6af0fdc4aa794da0/fairseq/hub_utils.py#L128-L133

[2020-03-30 22:29] CHELSEA234 commented on #1208
@moyid @jiachangliu @duchuuabc , Hello, could you tell how you guys solved this issue? Thank you.

[2020-03-30 22:30] mjpost commented on #1758
I believe it was generated from the fairseq model (so `cat fairseq.out | grep -V H^ | cut -f3 | spm_decode`).

I never reached their reported score but it was close.

[2020-03-31 01:32] jiachangliu commented on #1208
@CHELSEA234 This was a long time ago. I don't remember the exact problem I encountered clearly. You might need to wait for others to respond. Alternatively, you could post your own code and let others examine what goes wrong.

[2020-03-31 01:35] erip opened #1943 "Transformer is not scriptable"
## 🐛 Bug

`fairseq.model.transformer.Transformer` is not scriptable.

### To Reproduce

1. Load some pretrained transformer `model`. Example below uses `wmt14.en-fr.joined-dict.transformer`.
1. Call `torch.jit.trace_module(model, {"translate": "some dummy message"})`

#### Code sample

[code]

### Expected behavior

Transformer should be scriptable and the above should yield a model that can be ex

[2020-03-31 01:41] duchuuabc commented on #1208
Your dataset have some problems, just check it again. Good luck.

On Tue, Mar 31, 2020 at 8:32 AM Jiachang Liu <notifications@github.com>
wrote:

[2020-03-31 06:14] tuhinjubcse opened #1944 "Use pre-trained BART to generate"
## ❓ Questions and Help

#### What is your question?

Hi
I am currently running an experiment for a seq2seq generation task where i have my own source target and fine-tune BART and get great results

I want to see how are the results with just pre-trained BART without fine-tuning on my dataset. Is there a way for BART to generate the next set of tokens like GPT2 by just providing the prefix and le

[2020-03-31 06:15] tuhinjubcse commented on #1944
@myleott

[2020-03-31 07:56] DevHyung commented on #1413
@Colanim
Can you show the entire script of parameters used in train?

[2020-03-31 07:58] luweishuang opened #1945 "AssertionError: assert high > 1"
i use aishell_v2 dataset to training wav2vec model,  commamnd line: python train.py examples/wav2vec --save-dir examples/wav2vec/aishell2_models --num-workers 6 --fp16 --max-update 400000 --save-interval 1 --arch wav2vec --task audio_pretraining --lr 1e-06 --min-lr 1e-09 --optimizer adam --max-lr 0.005 --lr-scheduler cosine --conv-feature-layers "[(512, 10, 5), (512, 8, 4), (512, 4, 2), (512, 4, 2

[2020-03-31 08:01] 14H034160212 opened #1946 "The accuracy that I have done for RoBERTa-large fine-tuning on RACE has a big gap with the paper proposed"
## 🐛 Bug

Hi,

I have tried to use 2 Tesla V100 GPU with 32 GB memory to fine-tuning the RoBERTa-large model with RACE dataset. Here is the part of the result. Now I have finished the running with 5 epochs, but the loss and accuracy look like nearly no change. Does anyone have met the problem before? I just use the exact same parameters from that website for the fine-tuning on RACE dataset(https:/

[2020-03-31 08:19] Colanim commented on #1413
My configuration :

[code]

I had to create a new model where I kept only the first 928 position tokens. I did it with :

[code]

[2020-03-31 08:19] LividWo commented on #1939
same here. But I think this is expected? Since the model is trained to generate subwords instead of words.

[2020-03-31 08:48] #1938 closed

[2020-03-31 09:00] DevHyung commented on #1413
thank you for your reply. :D

[2020-03-31 09:05] DevHyung commented on #1413
@Colanim
thank you for your reply :D

May I ask one more question?
Why reduced max_token to 928?
and,
The average length of the dataset is 600 now, but can I reduce it more ?

[2020-03-31 09:56] Colanim commented on #1413
@DevHyung

My GPU have a small memory, so I couldn't even fit batch size of 1 in memory if the sample size is 1024.

By reducing the length to 928, it takes less space in memory and I can fit batch size of 1.

[2020-03-31 10:02] tuhinjubcse opened #1947 "BART generation results for top k differ in each run"
## 🐛 Bug

Every time I do Bart.sample for topk the results are different. For reproducibility is there a way to fix this?

`                hypotheses_batch = bart.sample(slines, sampling=True, sampling_topk=5, temperature=0.7, lenpen=2.0, max_len_b=30, min_len=7, no_repeat_ngram_size=3)
`
### Environment

Environment
- fairseq Version (e.g., 1.0 or master): 0.9.0
- PyTorch Version (e.g., 1.0) 1.3

[2020-03-31 10:02] tuhinjubcse commented on #1947
@myleott

[2020-03-31 11:55] myleott commented on #1904
The learning rate often needs to be adjusted depending on the dataset. Your current batch size is even a bit larger now than the original RoBERTa one (bsz=8960), so that’s good.

Great! A lower learning rate is fine, you just want it to be fairly large.

[2020-03-31 11:55] #1904 closed

[2020-03-31 13:23] erip opened #1948 "Plans for next release?"
## ❓ Questions and Help

#### What is your question?

What are the plans for fairseq 0.10.0? I looked [here](https://github.com/pytorch/fairseq/milestones) but found nothing.

#### Code

N/A

#### What have you tried?

N/A

#### What's your environment?

N/A

[2020-03-31 13:27] risingdhxs commented on #1678
I got the same problem while training a variant of the Transformer Big model on WMTbig dataset. It's hard to reproduce, since I'm running multiple models and yet only one got this error. It is not because the train_wall timer was not started, since I tried debugging and used printouts to ensure that the first log_start_time line was hit, even just before the error occurs. Commenting out these two

[2020-03-31 14:22] erip commented on #1947
Did you run `bart.eval()` first?

[2020-03-31 15:25] darsh10 opened #1949 "Bug while decoding a trained es-en translation model"
This is the error that I get on using the fairseq-generate command on a trained model

load_state_dict
    self.__class__.__name__, "\n\t".join(error_msgs)))
RuntimeError: Error(s) in loading state_dict for FConvModel:
        Unexpected key(s) in state_dict: "decoder.convolutions.0._linearized_weight", "decoder.convolutions.1._linearized_weight", "decoder.convolutions.2._linearized_weight".

Surp

[2020-03-31 15:26] erip commented on #1949
Can you please include your code?

[2020-03-31 15:29] darsh10 commented on #1949
airseq-preprocess --source-lang es --target-lang en --trainpref $TEXT/train --validpref $TEXT/valid --testpref $TEXT/test --destdir data-bin/blah.es-en

fairseq-train data-bin/blah.es-en/ --lr 0.25 --clip-norm 0.1 --dropout 0.2 --max-tokens 4000 --arch fconv_iwslt_de_en --save-dir checkpoints/fconv--max-source-positions 44 --max-target-positions 44 --skip-invalid-size-inputs-valid-test --max-sente

[2020-03-31 15:32] erip commented on #1949
Seems like a duplicate of #1903

[2020-03-31 15:33] darsh10 commented on #1949
Well, that is unclear. Since the reverse direction. en-es works perfectly. (With the identical commands , with obvious changes)

[2020-03-31 15:40] erip commented on #1935
The error says you need Microsoft Visual C++ 14.0. Once you have that installed, compiling should work.

[2020-03-31 15:42] JustCunn commented on #1935
Thanks! it wasn’t until I posted the error message here that I spotted that. I’ll give it a go and come back if I have any trouble.

[2020-03-31 15:47] JustCunn commented on #1935
Also, may I ask if this is even compatible with with Windows? It’s probably a stupid question to ask but when I booted Linux up on a virtual machine I had no trouble setting it up there.

[2020-03-31 15:50] erip commented on #1935
Yes. Linux can compile C code by default, but Windows cannot. I personally use fairseq on Windows regularly and have fixed issues with its installation process. If it doesn't work from pypi, it does on master.

[2020-03-31 15:51] erip commented on #1935
If pypi doesn't work, then try `CFLAGS='-stdlib=libc++'  pip install git+https://github.com/pytorch/fairseq.git`

[2020-03-31 16:07] JustCunn commented on #1935
Run this on Windows Command Prompt? I did this and it returns “‘CFLAGS’ is not recognised as an internal or external command, operable program or batch file”. Apologies, this is probably very tedious but I’ve never really dealt with downloading off of GitHub before.

[2020-03-31 16:09] erip commented on #1935
I did it from an Anaconda powershell prompt.

[2020-03-31 16:49] tuhinjubcse commented on #1947
Yes I did put bart.eval()

[code]

[2020-03-31 17:20] erip commented on #1947
I'm a bit confused by your code. You're saying that if you run this script twice, the output file contains different hypotheses?

[2020-03-31 17:32] tuhinjubcse commented on #1947
[code]

[2020-03-31 17:45] seraphinatarrant commented on #1919
ok I worked out basically what the major issue is - that `extract_features` was accumulating gradients, whereas if I run other inference code the generation is wrapping in `no_grad` so it's not a problem.

[2020-03-31 18:14] tuhinjubcse commented on #1944
@erip

[2020-03-31 18:38] erip commented on #1947
This is with a pre-trained model or a fine-tuned model? I wasn't able to reproduce. Details below:

----

[code]

[2020-03-31 19:17] myleott commented on #1943
Thanks for flagging, I'll look into this. Some folks internally are actively working on scripting the full Transformer + SequenceGenerator code path, but some parts are still missing.

[2020-03-31 19:34] erip commented on #1943
I've noticed a lot of activity from @liuchen9494 to that end - very exciting. IIRC pytorch/translate had a scriptable transformer, though - did I misremember? I might try that next...

[2020-03-31 19:36] erip commented on #1909
You'll also want to maintain the source and target dicts from pretraining when preprocessing the fine-tuning dataset.

[2020-03-31 19:38] tuhinjubcse commented on #1947
fine-tuned model
Also, why do you have one-word sentences  ??

[2020-03-31 19:42] leixxli commented on #1909
Thanks for the reply. @villmow

I can either change the BPE_TOKENS in subword-nmt stage, or preprocessing the combined dataset, then using this dictionary to generate individual dictionary for each dataset.

[2020-03-31 19:42] #1909 closed

[2020-03-31 19:43] erip commented on #1947
Shouldn't matter from a reproducibility standpoint. I just created some junk data.

[2020-03-31 19:51] tuhinjubcse commented on #1947
How are you reproducing ?
I see you do not use sampling but beam reproduce with my code ?

[2020-03-31 19:57] ajesujoba opened #1950 "Why does dict.string(tensor) return string with spaces between characters???"
Why does dict.string(tensor) return sentence/string with spaces between characters in fairseq. I have a dictionary e.g. src_dict and a tensor representing the sentence and using `.string()` method returns the following:
`
t h r e e e l e m e n t a r y s c h o o l s , L a k e T r a v i s E l e m e n t a r y S c h o o l , L a @ @ k e @ @ w a y E l e m e n t a r y S c h o o l , s e r v e s e c t i o

[2020-03-31 19:59] #1887 closed

[2020-03-31 20:02] erip commented on #1947
Fix your random seed at the beginning of your script:

[code]

[2020-03-31 20:59] sshleifer commented on #1758
Thanks! Did you ever get to the bottom of the difference between cc25 and en_ro models?

[2020-03-31 21:04] tuhinjubcse commented on #1947
Resolved thanks

[2020-03-31 21:04] #1947 closed

[2020-04-01 10:16] tuhinjubcse commented on #1944
@kahne can you help ?

[2020-04-01 12:56] gvskalyan commented on #1943
Try this https://github.com/pytorch/translate/blob/master/pytorch_translate/test/test_export.py#L241.

[2020-04-01 13:26] erip commented on #1943
Cheers, @gvskalyan! As I understand it, my fairseq models can't be coverted to pytorch_translate models and thus exported to onnx or TorchScript, but I could train them using pytorch_translate and get that benefit, right?

[2020-04-01 13:30] gvskalyan commented on #1936
Tried the above in a P100 GPU in Google Colab.

used the following snippet to print current GPU memory before calling train_step in train.py
[code]

--max-tokens 128

![128_max_tokens](https://user-images.githubusercontent.com/42022935/78142269-5626b280-744a-11ea-800b-5c3a4e152128.png)
--max-tokens 256

![256_max_tokens](https://user-images.githubusercontent.com/42022935/78142264-53c45880-744a-11e

[2020-04-01 16:19] caesar-one commented on #1945
@luweishuang with `python train.py...` which file are you executing with command line? Where is the file located in the repo?

[2020-04-01 17:01] rawkintrevo opened #1952 "`@register_model_architecture` does not register model as expected."
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

When following https://fairseq.readthedocs.io/en/latest/tutorial_simple_lstm.html we register a model with `@register_model_architecture(...` however when we run

[code]

yields:

`fairseq-train: error: argument --arch/-a: invalid choice: 'my_model' `

#### Code sample

following the tutorial is

[2020-04-01 17:03] rawkintrevo commented on #1952
I expect by the lack of other issues on this either
1. I have missed some obvious step
2. No one ever registers their own models

Most likely 1.

[2020-04-01 17:07] mjpost commented on #1758
No—we had thought it would be an easy comparison as a baseline, but I couldn't figure it out after putting some time into it. They didn't respond to the point in my second paragraph above.

[2020-04-01 17:56] rawkintrevo commented on #1952
As expected, I missed an obvious step-

namely, that the file muse exist in `fairseq/models/*`

Closing and sorry for bothering you.

[2020-04-01 17:56] #1952 closed

[2020-04-02 01:37] ruofanhu opened #1954 "More translation models of mBART"
Hi Fairseq team,
 Are you going to publish more translation models listed in (Liu et al., arXiv 2020)?

Thanks,
Judy

[2020-04-02 02:58] Hannabrahman commented on #1871
@huihuifan I realized someone else has this problem [here](https://github.com/pytorch/fairseq/issues/307), however when I try to use --restore-file and point it to the same pretrained checkpoint (as mentioned to solve issue for the owner), I still get the same error of ```missing keys``` for pretrained part.
When I print the state_dict keys of the ```checkpoint_best.pt``` it doesn't contain the pr

[2020-04-02 03:26] tuhinjubcse commented on #1944
@myleott  any tricks or pointers ?

[2020-04-02 03:43] jiangfeng1124 commented on #1949
Seems this is caused by a mismatch between the state_dict(s) in the pre-trained FConv models and the initialized one during inference.

So in `fairseq/fairseq/modules/linearized_convolution.py`, `_linearized_weight` is initialized to None, which will not be included in the model's state_dict (see `task.build_model(...)` in checkpoint_utils.py). That probably causes the "lost key error" when loadin

[2020-04-02 04:20] #1944 closed

[2020-04-02 04:30] gvskalyan commented on #1943
True. They have even scripted Beamsearch. But I have not observed any speed up and unable to convert the torchscripted module to ONNX format.
Please feel free to share your findings.

[2020-04-02 08:05] joazoa opened #1955 "wav2vec training time & meaning of the log output."
Hello,

I running wav2vec on ~10.000 hours of audio on 6 GPU's with the aim of trying it with wav2letter++
I read in the papers that the 2 models were trained on 40.000 and 400.000 steps.

When should or can I stop training ? When I reach a certain loss on an epoch ? When I reach 400.000 num_updates ? when i reach 400.000 / number of cards ?

What is the meaning of loss, wps, ups, wpb, etc ?

8198

[2020-04-02 08:30] 14H034160212 commented on #1933
Hi @erip, I have try to use Tesla V100 to fine-tuning the model. The speed is quite fast. But the final result is like a random selection. I seemly find the solution from that link. https://github.com/pytorch/fairseq/issues/1114

[2020-04-02 08:31] 14H034160212 commented on #1946
I seemly find the solution from that link. https://github.com/pytorch/fairseq/issues/1114
It worth to have a try.

[2020-04-02 09:39] jordiae opened #1956 "Cross-layer parameter sharing in the Transformer"
## 🚀 Feature Request
Implement cross-layer parameter sharing as in Universal Transformer [1] and ALBERT [2]

### Motivation

Transformers implementing cross-layer parameter sharing have been shown to perform well in different tasks in the literature while being more sample and memory-efficient.

### Pitch

The Transformer model in transformer.py should have arguments "--encoder-cross-layer-weight-

[2020-04-02 11:09] #1946 closed

[2020-04-02 11:19] myleott commented on #1939
Yes, it will generate subwords, for example: `He@@ llo Worl@@ d`. If you don’t remove the BPE continuation markers, this would give you an incorrect (larger) BLEU score.

[2020-04-02 11:19] #1939 closed

[2020-04-02 11:28] darsh10 commented on #1949
Thank you very much for this great fix @jiangfeng1124 👍

[2020-04-02 11:28] #1949 closed

[2020-04-02 13:17] caesar-one commented on #1468
I'm interested too

[2020-04-02 14:40] marcelgwerder commented on #1685
Are the `state['model']['encoder.embed_positions.weight']` weights the only ones I would have to resize and copy when trying to fine tune with `max_source_positions=2048`?

With below modification, I can start the training but I'm not convinced if that makes sense:

[code]

[2020-04-02 18:33] Edwardlzy commented on #1901
Just want to follow-up on this issue. In my understanding, in generate.py, by default it loads an ensemble and you need to change each individual transformer INPLACE to do evaluation on the quantized model. However, when I ran inference on a quantized model, I encountered an error in the forward method in fairseq/modules/multihead_attention.py:
[code]

After checking the documentation for quantize

[2020-04-02 23:06] yuyan2do opened #1957 "Increase beam search speed and reduce memory usage"
## 🚀 Feature Request
Increase generation speed and reduce memory usage by making model aware beam search. This is a continue speed improvement follow up by \#1851.

### Motivation
In beam search, encoder state are duplicate N times and saved in GPU memory during incremental decode. Avoid these duplication can reduce memory usage for encoder state to 1/N, and enable increase batch size up to Nx to

[2020-04-03 10:40] moussaKam opened #1959 "add_cpu with fp16 training"
Hello, I trained a model for 3 epochs using fp16. When I restored the checkpoint to continue the training I got this error.

Traceback (most recent call last):
  File "/data/home/moussa/anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/data/home/moussa/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/

[2020-04-03 10:56] gaopengcuhk opened #1960 "fairseq-generate on train dataset generate non english"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior (**always include the command you ran**):

1. Run cmd '....'
2. See error

#### Code sample

### Expected behavior

### Environment

 - fairseq Version (e.g., 1.0 or master):
 - PyTorch Version (e.g., 1.0)
 - OS (e.g., Linux):
 - How you installed fairseq (`pip`, source):
 - Build command you used (if compiling from source):
 - Python ver

[2020-04-03 10:57] #1960 closed

[2020-04-03 11:00] gaopengcuhk opened #1961 "fairseq-generate on train dataset generate non english sentence"
I generate sentence from train dataset after training en-de transfomre model using the following command.

fairseq-generate \
    data-bin/wmt16_en_de_bpe32k \
    --path checkpoint.avg5.pt \
    --beam 4 --lenpen 0.6 -- --gen-subset train

However, I find many weird source sentence do not below to english.

S-4391595	ल@@ ा@@ ग@@ ो@@ स@@ - ह@@ ा@@ ल@@ ह@@ ी@@ म@@ े@@ ं@@ न@@ ा@@ इ@@ ज@@ ी@@ र@@ ि@

[2020-04-03 11:07] gaopengcuhk commented on #1961
It seems like the original En-De WMT dataset contain some arabic and russian language as a nosie?

[2020-04-03 15:06] JustCunn commented on #1935
Apologies for leaving this open for so long, I decided to just go with Linux and download it. I got the error 'Failed building wheel for fairseq' and 'failed to build fairseq' but eventually it says 'Successfully installed ... fairseq-0.9.0...'. It all works but I was just wondering if I'll run into issues down the line?

[2020-04-03 16:48] JustCunn opened #1962 "Fairseq-interactive: Command Not Found"
## ❓ Questions and Help

I've just downloaded (I think anyways) Fairseq on Ubuntu-Linux using:
`pip3 install fairseq`
There doesn't appear to be any issues installing at all.

When I go to try out the first example of 'Evaluating Pre-trained Models':
`> MODEL_DIR=wmt14.en-fr.fconv-py

    --path $MODEL_DIR/model.pt $MODEL_DIR \
    --beam 5 --source-lang en --target-lang fr \
    --tokenizer moses

[2020-04-03 17:43] JustCunn commented on #1962
Nevermind, I didn't run a virtual environment and was trying to install globally.

[2020-04-03 17:43] #1962 closed

[2020-04-03 17:55] erip commented on #1935
No, you shouldn't. If you can run the CLI, you should be good.

[2020-04-03 20:23] myleott commented on #1758
This seems not quite resolved, particularly: "the names of the parameters seem to change between the main model and fine-tuned one".

@yinhanliu, can you share any insight on why the weights change between cc25 and en-ro?

[2020-04-03 21:23] mjpost commented on #1758
There are details of the error I ran into and how to reproduce it in #1754.

[2020-04-03 21:25] Hannabrahman commented on #307
@Shuukaido Hi, I am having the same issue.
Is adding --restore-file and pointing it to same checkpoint the only change that solved your issue?
I cannot understand how it solved the problem of pretrained model not having the "pretrained" keys in the state dict.
Any suggestions?

[2020-04-04 03:46] kkissmart commented on #1758
https://github.com/pytorch/fairseq/blob/18831f9f8353e7b7902f4d9a651463f50f40ce3f/fairseq/models/bart/model.py#L248

this needs to be True to solve #1754

Sorry, I dont quite understand what you tried to do and what failed?

[2020-04-04 03:49] kkissmart commented on #1754
I don't understand why you want to generate on MBART pretrained model. It is not a translation model, it is a de-noising model.

[2020-04-04 03:55] yinhanliu commented on #1758
https://github.com/pytorch/fairseq/blob/18831f9f8353e7b7902f4d9a651463f50f40ce3f/fairseq/models/bart/model.py#L248
this needs to be True to solve #1754

Sorry, I dont quite understand what you tried to do and what failed?

You tried to run generation on a pre-trained model? the pre-trained model is a de-noising model, it will copy src to tgt, it never learned translation.

[2020-04-04 12:27] mjpost commented on #1758
Yes, I understand it's just a de-noiser. But I should at least be able to run it. I gave an EN-DE example in #1754, but if I switch to EN-EN, it still fails.

How do I tell the model that `args.layernorm_embedding` is true? This isn't a command-line argument but appears to be an internal API model creation parameter. Why is this not stored in the model config itself?

(A similar source of confusio

[2020-04-04 12:44] sfxjh commented on #1463
Hi @fengkaineu have you implemented validation with BLEU score? I do not know how to use it.
I tried to add command like
--best-checkpoint-metric bleu --maximize-best-checkpoint-metric
but it didn't work. And the error seems like "the stats has no attribute 'bleu'"

[2020-04-04 13:08] sfxjh opened #1964 "How can i add bleu validation in NAT task?"
When train nat models, i have a question about how to eval the valid set correctly.
i think average last 5 checkpoint may not be very nice
So i add
    --eval-bleu \
    --eval-bleu-args '{"beam": 5, "max_len_a": 1.2, "max_len_b": 10}' \
    --eval-bleu-detok moses \
    --eval-bleu-remove-bpe \
    --eval-bleu-print-samples \
    --best-checkpoint-metric bleu --maximize-best-checkpoint-metric \
i

[2020-04-04 19:03] yinhanliu commented on #1758
https://github.com/pytorch/fairseq/blob/7c0ab23d14882d77ae5017ee71085925c5c03373/fairseq/models/transformer.py#L161

you just passing the arg should be fine.  the fine-tune command in Readme gives better info of how to use pre-trained mbart. The generate command is designed for translation model (fine-tuned) only.

[2020-04-04 20:50] alexeib commented on #1468
i dont think you can do this algorithmically. you can try to train another network that maps wav2vec features -> audio, i would be interested to see whether and how that works. we have not tried it.

[2020-04-04 20:50] #1468 closed

[2020-04-04 21:16] shamoons commented on #1468
I’m happy to give it a shot. Will any data work? Librispeech perhaps?

[2020-04-05 08:00] ajesujoba opened #1965 "Convert list of sentences to IndexedRawTextDataset"
Does fairseq currently have a method to convert a list of sentences/string to `IndexedRawTextDataset `? From the code,  `IndexedRawTextDataset ` reads the sentences from a file.

I actually want to create `monolingual dataset` from the list of sentences, is there a way to get that done directly without going through the `IndexedRawTextDataset ` route?

[2020-04-05 09:42] AhmedTElthakeb opened #1966 "RuntimeError: cuDNN error: CUDNN_STATUS_NOT_INITIALIZED"
## ❓ Questions and Help
#### What is your question?
I am trying to train transformer network for speech recognition. I am trying to run on 4 GPUs
Before it starts to train, i get this error:
RuntimeError: cuDNN error: CUDNN_STATUS_NOT_INITIALIZED

#### Code/Command line
python train.py $PATH/librispeech_final/ --save-dir model_save --max-epoch 80 --task speech_recognition --arch vggtransformer_2 -

[2020-04-05 11:03] gaopengcuhk opened #1967 "Huge Difference between train wall time and wall time for En-Fr Transformer experiment"
2020-04-05 18:38:34 | INFO | fairseq_cli.train | model transformer_vaswani_wmt_en_fr_big, criterion LabelSmoothedCrossEntropyCriterion
2020-04-05 18:38:34 | INFO | fairseq_cli.train | num. model params: 225086464 (num. trained: 225086464)
2020-04-05 18:38:41 | INFO | fairseq_cli.train | training on 1 GPUs
2020-04-05 18:38:41 | INFO | fairseq_cli.train | max tokens per GPU = 3584 and max sentences

[2020-04-06 08:15] Shuukaido commented on #307
Hi @Hannabrahman, it's been a while since I used Fairseq, but yes as far as I remember sending "--restore-file" was the only change I had to make in order for the errors "Missing key(s) in state_dict (...)" to go away. I believe restore-file it's now point by default to {save_dir}/checkpoint_last.pt:

https://github.com/pytorch/fairseq/blob/master/fairseq/options.py#L427
https://github.com/pytorch

[2020-04-06 12:53] myleott commented on #1959
fixed in e9014fb4245d8408ff763a4f67b8a2365c8b6f3e

[2020-04-06 12:53] #1959 closed

[2020-04-06 13:00] myleott commented on #1961
Yes, the WMT training datasets often contain some noise. If you want to help tackle this problem, there's a shared task on filtering parallel datasets: http://www.statmt.org/wmt20/parallel-corpus-filtering.html

[2020-04-06 13:00] #1961 closed

[2020-04-06 13:03] myleott commented on #1965
You can use `fairseq-preprocess --only-source` to binarize the text (similar to what's used for binarizing language modeling text) and then in the code use `data_utils.load_indexed_dataset` to get the appropriate IndexedDataset instance.

[2020-04-06 13:03] #1965 closed

[2020-04-06 13:18] ajesujoba commented on #1965
Hi, the explanation you gave implies that I have the text/sentences in a file, which is not what is happening in my case. A different process is generating the list of sentences and the sentences are not written to file.

[2020-04-06 14:13] shamoons commented on #1468
I wonder if there's a paper in this if I get it to work :-). Or even if I get it to NOT work.

[2020-04-06 18:06] Hannabrahman commented on #307
@Shuukaido thanks. Yeah I understand that both ```restore-file``` and ```--pretrained-checkpoint``` should point to same path to avoid "architecture not matched" error. However, none of the saved checkpoints have "pretrained" part in their keys and that's why I am still getting ```Missing key(s) in state_dict``` error.

 Thanks I continue troubleshooting.

[2020-04-07 02:15] astariul opened #1971 "Difficulties to reproduce XSUM results with BART"
I'm trying to reproduce the results of BART on XSUM dataset.

I followed README, didn't apply any preprocessing to the XSUM data and use `beam=6, lenpen=1.0, max_len_b=60, min_len=10` for generation.

I got following results :
[code]

which is a bit lower than reported results :
![image](https://user-images.githubusercontent.com/43774355/78622608-87770680-78c0-11ea-99af-a7dd0109ea4a.png)

---

For

[2020-04-07 02:58] yinhanliu commented on #1971
I got raw text from one of Xsum authors. if you can get one from them, you should get a better number. I am not very sure about how to revert their released data (with tokenization) to the raw text.

[2020-04-07 03:06] Colanim commented on #1971
Thanks for the very fast answer @yinhanliu

I used the dataset at this link :
http://kinloch.inf.ed.ac.uk/public/direct/XSUM-EMNLP18-Summary-Data-Original.tar.gz
(provided by XSUM author [here](https://github.com/EdinburghNLP/XSum/issues/18#issuecomment-609047510))

---

I think it's the raw data, because I didn't apply any other steps mentioned in [their README](https://github.com/EdinburghNLP/XS

[2020-04-07 12:30] fahimeh-saleh opened #1973 "finetuning multilingual"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

#### Code

#### What have you tried?

#### What's your environment?

 - fairseq Version (e.g., 1.0 or master):
 - PyTorch Version (e.g., 1.0)
 - OS (e.g., Linux):
 - How you installed fairseq (`pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 -

[2020-04-07 12:31] #1973 closed

[2020-04-07 12:35] fahimeh-saleh opened #1974 "What is the best practice to finetune a bilingual MT model with multiple languese? Preprossesing is matter, because the languages and the dictionaries are different!"
## 👉 [Please follow one of these issue templates](https://github.com/pytorch/fairseq/issues/new/choose) 👈

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue templates.

[2020-04-07 15:58] yinhanliu commented on #1971
Hi @Colanim  can you all do me a favor. after this line
https://github.com/pytorch/fairseq/blob/966436403e5e927e3e7d5b389dad6ef06aaa7e03/fairseq/sequence_generator.py#L281
can you add:
if step == 0:
    lprobs[:, self.bos] = 1000
else:
   lprobs[:, self.bos] = -math.inf
let me know the Rouge on your data with these line.
Thanks a lot!

[2020-04-07 18:07] mjpost commented on #1758
That is an argument for training. I am not trying to fine-tune the pretrained model (that works); instead, I am trying to use the pretrained model with `fairseq-generate`, which doesn't have a `--layernorm-embedding` flag.

[2020-04-07 18:08] mjpost commented on #1758
This was my original question. In principle there is no reason that I should not be able to decode with the pretrained model. My original question was to ask what parameters changed between the pretrained and fine-tuned models (i.e., what prevents the pretrained model from being used in decoding)?

[2020-04-07 18:40] marshmallow111 opened #1976 "Reproduce WMT en-de results @ "Scaling NMT""
Hi there,

I'm trying to reproduce results from Scaling NMT on WMT en-de dataset. Currently, I followed the tutorial and changed the LR to 0.001 and update-freq to 32/16, and enabled c_10d DDP backend.

I trained the model on 4 V100s for 40k steps (update-freq=32), and I got 28.56 BLEU score with an average of the last 5 checkpoints (beam=4, lenpen=0.6), while the paper reported 29.3. I also got a

[2020-04-07 18:48] yuyan2do commented on #1957
Add profile result for one transformer layer.

**Before change**, batch size 32, cost 2.8 ms per layer
The first part of GPU computation is very sparse.
![image](https://user-images.githubusercontent.com/5111542/78707384-64028a80-78c5-11ea-8b63-5212029c96b6.png)

**After change**, batch size 128, cost 3.3 ms per layer
GPU computation is more dense compare to use small batch size.
![image](https://

[2020-04-07 19:37] siddalmia opened #1977 "PR #1697 makes pip install --editable . not work"
## 🐛 Bug

Hi pyproject.toml introduced in #1697 makes the installation of fairseq using `pip install --editable .` not work. Even though I am using conda.

[2020-04-07 19:50] alexeib commented on #1468
you can certainly try librispeech. many tts models learn logmel -> audio mapping (e.g. tacotron), so that would be a good starting point to look at

[2020-04-07 20:37] aryamccarthy opened #1978 "Loading adaptive language models from Torch Hub fails: FileNotFoundError"
## 🐛 Bug

Loading adaptive language models from Torch Hub fails; there's a `FileNotFoundError`. The "missing" file is actually one level down in the directory structure. I haven't tested this with other models besides LMs. This is not broken, though, for the WMT language models.

### To Reproduce

Steps to reproduce the behavior:

1. Attempt to load a language model.
[code]
2. See error
[code]

3.

[2020-04-07 20:48] myleott commented on #1977
It works for me. What error do you see?

[2020-04-07 20:51] siddalmia commented on #1977
Hi Myle,
I have copied the error below -
[code]

[2020-04-07 22:23] myleott commented on #1965
Ah, you can create a MonolingualDataset with any object that implements the `torch.utils.data.Dataset` interface. So `MonolingualDataset(your_list_of_tensors, ...)` should work. No need to use IndexedRawTextDataset (which is focused on files).

[2020-04-08 02:32] Colanim commented on #1971
@yinhanliu thanks for the details.

After modifying as you mention, my score is 1 point higher :

[code]

It's great !

---

But it's still 1 point from the paper's results.

I asked for the raw XSUM dataset, I will update this issue when I receive it (author didn't respond yet).

In the meantime, any idea on where this 1 point difference might come from ?

[2020-04-08 02:58] yinhanliu commented on #1971
@Colanim
I think there is a bug in the code. Rouge doesn't work on my side currently. so can you help me try below things and see the result?

https://github.com/pytorch/fairseq/blob/d37529ed234ea9173ed35f6797a51a85378ecfca/fairseq/tasks/fairseq_task.py#L350
can you add **kwargs
so does to line 352

and at
https://github.com/pytorch/fairseq/blob/d37529ed234ea9173ed35f6797a51a85378ecfca/fairseq/mod

[2020-04-08 04:33] Colanim commented on #1971
@yinhanliu thanks for your help.

Here is my results after applying the changes you mentioned :

[code]

[2020-04-08 05:44] yinhanliu commented on #1971
Thank you!
Let us see what Xsum author says.

[2020-04-08 08:38] MrLee66 opened #1982 "Windows install error"
## ❓ Questions and Help

#### What is your question?
Windows install fairseq failed,  ERROR: Failed building wheel for mecab-python3.So who can help me ,thanks a lot.
#### Code
Building wheels for collected packages: mecab-python3
  Building wheel for mecab-python3 (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'D:\softwares\anconda\envs\FairSeqTrain\python.exe'

[2020-04-08 09:17] #1982 closed

[2020-04-08 19:15] noe opened #1983 "Sampling from GeneratorHubInterface does not generate anything"
## 🐛 Bug

When calling function `sample` from `hub_utils.GeneratorHubInterface`, as specified in the [language modeling readme](https://github.com/pytorch/fairseq/tree/master/examples/language_model), the result is always the same prefix passed as argument to the function, with no extra tokens sampled from the LM.

Internally, the problem is that, when the sentence is converted to token IDs, the E

[2020-04-08 19:17] noe commented on #1983
I would be happy to provide a PR.

[2020-04-09 00:25] yuyan2do commented on #1957
@myleott Could you please help review this PR? It reduce memory size used for encoder-decoder attention to **1/Beam_size**. (Original size is Layer_number * [Batch_size*Beam_size, Input_length, Hidden_dim]) And enable increasing batch size to get quicker generation speed.

[2020-04-09 02:41] bcmi220 commented on #1983
same issue

[2020-04-09 03:39] #1966 closed

[2020-04-09 11:47] gvskalyan commented on #1901
Though we generate one token at time, for each token generation in decoder side the time would decrease (for non-auto regressive seq-seq), that it supposed to decrease the overall time since transformers are made up of self-attention and linear layers, as we are also quantizing linear layers.

@Edwardlzy I got the same error when ran quantize_dynamic on RoBERTa.

But for a transformer model from [

[2020-04-09 13:35] rronan opened #1986 "checkpoint_utils.py: move os.makedirs() from load_checkpoint() to save_checkpoint()"
Hello,

In the current implementation ```fairseq.checkpoint_utils```, the directory ```args.save_dir``` is created in ```load_checkpoint()```  instead of ```save_checkpoint()```:

https://github.com/pytorch/fairseq/blob/master/fairseq/checkpoint_utils.py#L123

Is there any reason for this? The reasons why I would have it in ```save_checkpoint()``` are:
1. If I  train model from scratch, I don't wa

[2020-04-09 13:55] 14H034160212 opened #1987 "Fine-tuning another dataset based on the intermediate training (RoBERTa-large + RACE)"
## 🐛 Bug
Hi, I am doing fine-tuning another dataset based on the intermediate training model (RoBERTa-large + RACE). The issue that I met is the train and valid accuracy floating around 50% cause the dataset is a binary classification task. Here is a simple example of the dataset "ParaRule". The dataset is from the paper from Allen AI "Transformers as Soft Reasoners over Language" (https://rule-re

[2020-04-09 14:21] vicoof opened #1988 "CamembertForTokenClassification model always predict the same label for a multi-classification problem"
Hi every one !

I'm working with the pretrained CamembertForTokenClassification  model for NER task and I don't undersatnd why I got the same logits and so the same labels batch after batch. The model doesn't learn and I don't know why. Do you have a clue ?

**Code** :

[code]

**After few batches,  here's what I got during a validation phase for a specific batch:**

[code]

**Model** :

`model =

[2020-04-09 14:47] lbocken opened #1989 "fairseq & R : A new package?"
Hello everyone, I would like to use fairseq in or with R… What are your best advices? Could it be possible to build a specific R package ? How to begin? Thank you very much for your help !

[2020-04-09 14:56] noe commented on #1989
Have you tried an R package called [`reticulate`](https://cran.r-project.org/web/packages/reticulate/)? It allows you to call Python stuff from R. It is maintained by RStudio themselves. You can find out more in [their web page](https://rstudio.github.io/reticulate/).

[2020-04-09 15:39] lbocken commented on #1989
I will look into that... I’m just in the beginning of the project and it would be great to benefit from all of your advices to avoid lost of time… Thank you very much for your help !

[2020-04-09 17:20] mjpost commented on #1758
Here is an example where I am trying to use the pre-trained model (not fine-tuned) to find the auto-encoder score of an English input using `fairseq-generate. I can get it to work with the "translation" task. However, I am not sure that I have the correct results.

First, I have to clean the `cc25_pretrain` model. After rereading the paper, it seems the extra parameters are likely those mentioned

[2020-04-09 18:24] mjpost commented on #1758
Looking at `translation_from_pretrained_bart`, it seems that adding the source LID token to the end of the source sentence is correct, but that what I need is to use the target-side language code as the decoder BOS:

[code]

I presume that appending here causes the target-side LID token to serve as EOS, and that I have to set it to BOS, too, so that the decoder context is properly initialized.

[2020-04-09 18:39] Edwardlzy commented on #1901
@gvskalyan Thanks for the update. Do you mind sharing your code change in details? For example, in generate.py, did you make sure that your quantized model replaced the original one? And did you make any change to other related files like multihead_attention.py and functional.py? I noticed that there has been a new commit for Fairseq yesterday related to quantization. I tried the updated Fairseq a

[2020-04-09 19:07] xuanqing94 commented on #1983
I got a similar issue here, I copied the code from template: https://github.com/pytorch/fairseq/tree/master/examples/language_model
[code]
It won't generate any longer sentence except 'Barack Obama'.

[2020-04-10 09:49] wangwang110 commented on #1380
Any new developments？

[2020-04-10 09:49] wangwang110 commented on #1380
Any new developments？

[2020-04-10 12:58] gvskalyan commented on #1901
I have just added `model = torch.quantization.quantize_dynamic(
            model, {torch.nn.Linear}, dtype=torch.qint8
            )
` [here](https://github.com/pytorch/fairseq/blob/master/fairseq_cli/interactive.py#L108),
- I have seen the no of params using `p.numel()`, ideally no of parameters should not differ - they should get quantized, may be numel can not count these - an indication model

[2020-04-10 13:18] gvskalyan commented on #1936
@yinhanliu  @myleott can you consider releasing mbart base model which uses bart_base architecture

[2020-04-10 13:21] wangwang110 commented on #1380
@MultiPath   Any new developments for re-implement NAT？

[2020-04-10 13:42] chrisdoyleIE commented on #1293
same here

[2020-04-10 16:48] JustCunn opened #1990 "Pre-processing Script"
I know this isn’t really an issue, more just a question. I’m relatively new to all this, but in the docs, for the example pre-processing, a script called ‘prepare-iwslt14.sh’ is called. I’ve looked into it but I want to ask, is it necessary to have shell scripts like these, and if so why?

I’d appreciate it if anyone could help me with this.

For info:
 - fairseq Version: 0.9
 - PyTorch Version: 1

[2020-04-10 17:42] myleott commented on #1977
Seems like you don't have the right permissions. Try `pip install --editable --user .`

[2020-04-10 17:42] #1977 closed

[2020-04-10 18:04] siddalmia commented on #1977
Hi @myleott ,

Thanks but I already tried that.

I am running them on docker inside a conda and without that file the `pip install --editable .` works just fine. But it doesn't seem to work with your `--user` solution. In fact `pip install .` seems to be working but not the `--editable` option.

Thanks

[2020-04-11 12:12] erip commented on #1990
What's necessary for good performance is to tokenize and byte-pair encoder your inputs. Because `fairseq-preprocess` doesn't perform this for you, something will have to. The most convenient way to do this in an experiment is with scripts like `prepare-iwslt14.sh`.

[2020-04-11 13:38] JustCunn commented on #1990
Yeah, It’s just different coming from something like OpenNMT-py that does have some options to do pre-processing like that. Thanks very much for clearing that up!

[2020-04-11 14:13] erip commented on #1990
PRs are welcome. 😄

[2020-04-12 02:14] Ir1d commented on #1554
@zhaoxv @MultiPath could you please share how to generate a new distillation dataset after training the teacher models?

I tried `fairseq-generate data-bin/wmt17_en_de_joined --path checkpoints/transformer_vaswani_wmt_en_de_big/checkpoint_best.pt --batch-size 128 --beam 5 --remove-bpe --gen-subset train --results-path data-bin/wmt17_en_de_distill` but after 20 hours and in the end it told me `CUDA

[2020-04-12 06:12] gaopengcuhk opened #2000 "How to measure the FLOPS for Neural Machine Translation"
As the title implies, is there anyway to evaluate the FLOPs for NMT?

[2020-04-12 20:33] mortonjt opened #2002 "lstm-lm arguments appear to be circular regarding attention"
## 🐛 Bug

It doesn't seem to be possible to enable attention when running lstm-lm

Here is an example running the lstm-lm archicture
[code]
And here is the reported error

[code]
I bet that this line is the culprit: https://github.com/pytorch/fairseq/blob/master/fairseq/models/lstm_lm.py#L100

### Environment

 - fairseq Version : 0.9
 - PyTorch Version 1.4
 - OS (e.g., Linux): Redhat
 - How you i

[2020-04-12 23:59] Ir1d commented on #1554
Hi I reduced the batch-size and there's no CUDA error, but after the script there's still no result. Could you help me out?

[2020-04-13 00:22] Ir1d commented on #1736
I tried `fairseq-generate data-bin/wmt17_en_de_joined --path checkpoints/transformer_vaswani_wmt_en_de_big/checkpoint_best.pt --batch-size 64 --beam 5 --remove-bpe --gen-subset train --results-path data-bin/wmt17_en_de_distill` but no result file was generated in anywhere..
Have you found out how to generate the distillation dataset?

[2020-04-13 00:31] Ir1d opened #2003 "How to generate my own distillation dataset for Levenshtien Transformer"
## 🐛 Bug

According to the [doc](https://github.com/pytorch/fairseq/tree/master/examples/nonautoregressive_translation#knowledge-distillation), it said "The easiest way of performing distillation is to follow the instructions of training a standard transformer model on the same data, and then decode the training set to produce a distillation dataset for NAT".

I want to know what exactly is the pr

[2020-04-13 01:50] Colanim commented on #1971
@yinhanliu According to the author of XSUM, [the provided link is the same as the dataset you used.](https://github.com/EdinburghNLP/XSum/issues/20#issuecomment-612507585)

I followed the same train/val/test distribution as the one provided by the author. I didn't apply any additional processing. I applied BPE encoding + binarization with exact same parameters as for CNN/DM.

[2020-04-13 02:44] reachtarunhere opened #2004 "Explanation of Extra Embeddings after generation from Dict"
### What is your question?

Hi! I am trying to extract word embeddings and do some analysis on a transformer model I trained. Compared to the srcdict used to generate the emeddings the 'encoder.embed_tokens.weight' seems to have 4 more tokens. Can someone confirm if these extra or special tokens are at the end, beginning or somewhere else. Also, is the order of the srcdict maintained when initiali

[2020-04-13 06:26] Hayao41 commented on #1311
Hi, is there any updates now ? I also received this issue when I doing a sample phase. But it worked with fairseq_generate cli. Thx guys, be appreciate

[2020-04-13 11:45] didge-rydu commented on #1924
+1

It seems like the code doesn't allow for this. The input and output language need to be different, since they are used to differentiate input and output data in the code.  This leaves me wondering: Is there any reason this shouldn't be done using the normal translation script?
Anyways, I got it to work by changing lines 46, 66 and 77 of the following file
https://github.com/pytorch/fairseq/blo

[2020-04-13 12:12] huihuifan commented on #2004
Hello, the source dict models special tokens in the dictionary, such as unk and start of sentence. The order is maintained and they are always appended at the beginning. You can see the tokens added if you check the dictionary.py file.

[2020-04-13 12:12] #2004 closed

[2020-04-13 12:13] huihuifan commented on #2003
@MultiPath

[2020-04-13 12:14] huihuifan commented on #2000
Currently, we do not have a nice inbuilt way to handle this, but we would really be interested in this feature!

[2020-04-13 12:15] huihuifan commented on #1990
Thanks @erip for answering! Yes, usually we preprocess the data with a separate script, though you can link it together with your training. The prepare-iwslt script also downloads data, I believe.

[2020-04-13 12:15] #1990 closed

[2020-04-13 12:15] huihuifan commented on #1989
We currently do not have plans to support fairseq within R.

[2020-04-13 12:15] #1989 closed

[2020-04-13 12:16] huihuifan commented on #1988
@louismartin

[2020-04-13 12:18] huihuifan commented on #1987
For BERT finetuning, the parameters are really important. I suggest tuning your parameters more.

[2020-04-13 12:19] huihuifan commented on #1978
@alexeib

[2020-04-13 12:20] huihuifan commented on #1976
Are you averaging checkpoints and adding compound splitting? Please follow the readme here: https://github.com/pytorch/fairseq/tree/master/examples/scaling_nmt

[2020-04-13 12:20] huihuifan commented on #1974
Please follow the issue templates and provide additional detail

[2020-04-13 12:23] huihuifan commented on #1954
@ngoyal2707

[2020-04-13 12:25] huihuifan commented on #1937
Unfortunately, this is the current solution. If you have an improvement, please make a pull request!

[2020-04-13 12:25] #1937 closed

[2020-04-13 12:26] vicoof commented on #1988
Hi Louis,

Thanks for answering me. Could you be a little more explicit please ? I’m not very familiar with Bert...

Best,
From: Angela Fan<mailto:notifications@github.com>
Sent: 13 April 2020 14:16
To: pytorch/fairseq<mailto:fairseq@noreply.github.com>
Cc: vicoof<mailto:victor.legrand.96@hotmail.fr>; Author<mailto:author@noreply.github.com>
Subject: Re: [pytorch/fairseq] CamembertForTokenClassifi

[2020-04-13 12:26] huihuifan commented on #1936
@ngoyal2707

[2020-04-13 12:53] 14H034160212 commented on #1987
Thanks @huihuifan. It is quite no sense of direction for tuning the parameters. I have try fix the max-sentences (batch size), update-freq and max-option-length, but got the random results as well. Do you have any direction suggestions for the detail parameters setting? Many thanks.

[2020-04-13 16:13] Edwardlzy commented on #1901
@gvskalyan Thank you for the clarification. This is what I tried initially. When I ran evaluation on the "quantized" model in 8-bit, I had exactly the same BLEU score as the float32 model. This may suggest that the model you just quantized does not replace the one in `models`. What happened was that you created the quantized model in a new variable you called `model` and it was dropped after this

[2020-04-13 17:44] ngoyal2707 commented on #1936
@gvskalyan We are not planning to release `mbart.base` model as previous work has shown that bigger model size help to deal with the issue of interference when training on multiple languages.

To deal with the GPU OOM, I'd recommend looking into gradient checkpointing: https://pytorch.org/docs/stable/checkpoint.html

Which allows to trade compute for memory.
We don't have yet implemented it in fai

[2020-04-13 17:44] #1936 closed

[2020-04-13 17:59] yinhanliu commented on #1971
Thanks so much for letting me know. I will work on this shortly. The released model is supposed to work better than the one in the paper actually.

[2020-04-13 18:05] AlonsoDiCandia opened #2005 "Extract feature from trained wav2vec model"
Hi everyone, i tried to extract the feature from trained wav2vec model (.pt) from the official github, using the complete librispeech equal to the paper but the script in /example/wav2vec/ called wav2vec_featurize.py generate me a lot of file with the extension ".h5context" and i dont know how use these files, someone can help me or orient me.
Also the command:

`$ PYTHONPATH /path/to/fairseq pyth

[2020-04-13 19:46] tobydu opened #2006 "WNLI Preprocess and Finetune Code"
Could you please provide or point me to the code for WNLI preprocessing and finetuning? I am trying to reproduce the result in the paper but couldn't seem to get the accuracy because `WNLI` is not part of `TASKS="QQP MNLI QNLI MRPC RTE STS-B SST-2 CoLA"`.

[2020-04-13 22:11] myleott commented on #2000
Unfortunately I think this is too difficult to do in a general way, so we won't be able to support it as a native fairseq feature.

That said, I've used this before and it works great: http://www.bnikolic.co.uk/blog/python/flops/2019/10/01/pytorch-count-flops.html. The only downside is that it can be a pain to setup PAPI on some environments.

There's also [THOP](https://github.com/Lyken17/pytorch

[2020-04-13 22:11] #2000 closed

[2020-04-13 22:14] myleott commented on #1983
Ah, thanks for flagging. I mistakenly broke this in 7c0ab23d14882d77ae5017ee71085925c5c03373.

Will submit a fix shortly.

[2020-04-13 22:27] myleott commented on #1976
For en-de, we trained for 70 epochs or ~24k steps using the large batch size.

Our final train perplexity was 4.71 and valid perplexity was 4.19. So it seems like you may have trained a bit longer than we did. Can you share the training log?

No, you need to apply this manually using the instructions @huihuifan shared above.

[2020-04-13 22:29] #1974 closed

[2020-04-13 22:31] myleott commented on #2006
For WNLI we used the original "WSC" data in SuperGLUE. Instructions to reproduce our results can be found here: https://github.com/pytorch/fairseq/tree/master/examples/roberta/wsc

[2020-04-13 22:31] #2006 closed

[2020-04-13 22:39] myleott commented on #1978
Huh, good catch. I've fixed the model archives, please try again with `torch.hub.load(..., force_reload=True)`

[2020-04-13 22:39] #1978 closed

[2020-04-14 02:31] gvskalyan commented on #1901
yes, I could verify that it gives the same error as you mentioned.
Sorry for overlooking through that iteration part.

[2020-04-14 03:10] kristjanArumae commented on #1145
@myleott I went through a bit of troubleshooting for this myself.  I am using CUDA 10.1 pytorch 1.4.0, and the latest version of fairseq.  I'm running this on a [p3.16xlarge](https://aws.amazon.com/ec2/instance-types/p3/).  I get the error referenced by @shuxiaobo :
`RuntimeError: _th_index_select not supported on CPUType for Half`

when running :
[code]

[2020-04-14 03:33] memeda opened #2007 "for Summarization, How Cased/Uncased processing matter ?"
## ❓ How Cased/Uncased processing matter for Summarization Task?

Hi,  I noticed the fairseq use Cased for summarization. What's more, UniLM also use Cased data. While many previous SOTA works (like PointerGenerator, BertSumAbs and so on) use **uncased** instead.

So I'm curious why use **cased** instead of uncased? Is it enhance the performance notably, or just for better display?

[2020-04-14 04:50] ajd12342 opened #2008 "Unknown penalty (--unkpen) has no effect on the generated text"
## 🐛 Bug
While using `fairseq-generate` to generate text in the target language for a translation task, setting the `--unkpen` value to even large numbers like 1e5, 1e6, etc. does not change the hypotheses. As a result I am unable to remove the `<<unk>>` tokens using this, as was suggested in #481 .

### To Reproduce
1. Train a model using `fairseq-train`
2. Generate text using `fairseq-generate`

[2020-04-14 06:32] gaopengcuhk commented on #2000
Thank you for your response.
I want to know how to define the flops for sequence generation problem? Sequence generation FLOPS depends on the generated sequence which will be higher for longer sentence.

[2020-04-14 06:35] gaopengcuhk opened #2009 "En-Fr result in scaling neural machine translation have compound spliting or not?"
As the name implies, the En-Fr BLEU in Scaling Neural Machine Translation have compound splitting or not?

[2020-04-14 06:57] alexeib commented on #2002
@joshim5

[2020-04-14 07:01] alexeib commented on #1987
- remove or reduce weight decay
- switch to an annealing lr scheduler, e.g. cosine
- sweep on combinations of lr/batch size

[2020-04-14 07:01] #1987 closed

[2020-04-14 07:03] #1933 closed

[2020-04-14 07:03] alexeib commented on #1986
i dont think there is any particular reason - please feel free to submit a pr to change this behavior

[2020-04-14 08:11] louismartin commented on #1988
Hi, sorry for the delay.
As I mentioned in my email, you should check if the weights of the model change during training.
Do you see the training loss decreasing or is it constant ?

[2020-04-14 08:19] zhangxinlu16 opened #2010 "cannot import name 'libnat_cuda' from 'fairseq' (fairseq-master/fairseq/__init__.py)... fall back to CPU version"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

#### Code
When I trying to train a new model for machine translation, always have the following errors. I try to change the  version of fairseq but it is still not work.

cannot import name 'libnat_cuda' from 'fairseq' (/home/fairseq-master/fairseq/__init__.py)... fall back to CPU ve

[2020-04-14 08:43] 14H034160212 commented on #1987
@alexeib Many thanks for your suggestion!

[2020-04-14 08:59] ljw870202 commented on #2010
u should compiling from source like 'python setup.py build_ext --inplace',after build there exists libnat_cuda.cpython-37m-x86_64-linux-gnu.so in fairseq source folder.

[2020-04-14 09:32] fjlyzjw commented on #1842
Hi @ngoyal2707 , for the **translation_from_pretrained_xlm** task, I trained an XLM model according to [here](https://github.com/pytorch/fairseq/tree/master/examples/cross_lingual_language_model) based on wiki corpus(downloaded and tokenized according to[XLM Github Repository](https://github.com/facebookresearch/XLM#download--preprocess-monolingual-data)), but it didn't work.
It reported : ```Tran

[2020-04-14 09:32] vicoof commented on #1988
Hi no worry.
The weights are actually changing during training and the loss is decreasing untill a certain point.

[2020-04-14 09:35] zhangxinlu16 commented on #2010
Thanks, but how to build libnat_cuda.cpython-37m-x86_64-linux-gnu.so？

[2020-04-14 10:16] zhangxinlu16 commented on #2010
After compiling from source, I only get libbleu.cpython-37m-x86_64-linux-gnu.so and libnat.cpython-37m-x86_64-linux-gnu.so. I can find libnat_cuda.cpython-37m-x86_64-linux-gnu.so. Is there anything wrong with me？

[2020-04-14 10:24] zhangxinlu16 commented on #2010
After compiling from source, I only get libbleu.cpython-37m-x86_64-linux-gnu.so and libnat.cpython-37m-x86_64-linux-gnu.so. I can‘t find libnat_cuda.cpython-37m-x86_64-linux-gnu.so. Is there anything wrong with me？

[2020-04-14 11:53] Ir1d commented on #2010
I'm having same error: "cannot import name libnat_cuda".
I've run "python setup.py build_ext --inplace" already. and I can find the file `build/lib.linux-x86_64-3.6/fairseq/libnat.cpython-36m-x86_64-linux-gnu.so`

[2020-04-14 12:10] louismartin commented on #1988
And you confirm that the logits are exactly the same at the beginning of training and at the end of training when the weights have changed?

[2020-04-14 12:11] louismartin commented on #1988
You should try to follow the path from the input embeddings to the output embeddings and try to see what happens. If the weights are different, then the output should be different.

[2020-04-14 12:15] JustCunn commented on #1990
Just while I have this thread, instead of opening a new one because I think the two issues might be related, but after training, when using Fairseq-generate, I enter `—batch-size 128` But it tells me that `--max-sentences/--batch-size cannot be larger than --buffer-size' print(args) `. It only works with a batch size of 0. I don’t know if this is affecting my translation quality or not. Could it h

[2020-04-14 12:27] vadimkantorov opened #2012 "Replace apex.FusedLayerNorm by PyTorch core FusedLayerNorm"
Fairseq still [uses](https://github.com/pytorch/fairseq/blob/master/fairseq/modules/layer_norm.py) apex.FusedLayerNorm. However, https://github.com/pytorch/pytorch/pull/27634 merged FusedLayerNorm in core PyTorch. I propose usage of core PyTorch LayerNorm as the first choice

[2020-04-14 12:34] vicoof commented on #1988
Yes the logits are evolving but converge towards a positive value for only one class and negative values for all the others. So the same class si predicted when using the argmax of the logits.

[2020-04-14 12:37] louismartin commented on #1988
Then I think it might be related to your training data or the way you feed the data/labels. I can't help you more on this...
Make sure that you don't always feed the same label during training. Maybe one label is way more frequent than the others. You could investigate what happens when you remove this label from training.

[2020-04-14 12:42] gm0616 opened #2013 "Training crashes after a few steps with some worker encounter OOM ?"
hi, team
I met an error when training on my 8GPUs machine. It is weird that the same process has been located on different GPU devices, I am confused about why this happens.
[code]

After about half of the first epoch, the training crashed, here is the reported error:
[code]
The task is about summarization and my command is:
[code]

PyTorch Version 1.2
CUDA/cuDNN version: 9.2
Python version: Pytho

[2020-04-14 12:49] Ir1d commented on #2010
Be sure to set CUDA_HOME in env : https://github.com/pytorch/fairseq/blob/master/setup.py#L82

[2020-04-14 13:06] Ir1d commented on #2003
Hi thanks.
Gao Peng emailed me yesterday and shared with me his commands.

[code]

After doing that, I ran the preprocess again to generate binarized dataset.
Then the distillation dataset is good to go.

[2020-04-14 13:26] huihuifan commented on #2013
Can you reduce the batch size?

[2020-04-14 13:27] huihuifan commented on #2009
@edunov ?

[2020-04-14 13:30] huihuifan commented on #2007
It depends on the original dataset used. For example, the pointer generator paper you are referring to uses the uncased version of cnn-dailymail. Cased is more realistic, but uncased can reduce the vocabulary size.

[2020-04-14 13:30] #2007 closed

[2020-04-14 13:32] huihuifan commented on #1945
Hello, can you provide additional detail here? What assertion error is being hit?

[2020-04-14 13:33] huihuifan commented on #1928
@myleott

[2020-04-14 13:34] huihuifan commented on #1926
If you put a breakpoint, is there data there? It's looking like it's none.

[2020-04-14 13:35] huihuifan commented on #1925
Can you provide more detail please? What command are you running, what dataset? @yinhanliu

[2020-04-14 13:36] huihuifan commented on #1923
Agree with @erip's advice. It looks like your command should work with this fix. Other things to look out for are adjusting the learning rate and dropout if your dataset is very different in size than IWSLT. Please open another issue if you are having trouble, thanks!

[2020-04-14 13:36] #1923 closed

[2020-04-14 13:38] huihuifan commented on #1919
@ngoyal2707

[2020-04-14 13:39] huihuifan commented on #1907
@ngoyal2707 @yinhanliu

[2020-04-14 13:39] huihuifan commented on #1906
Yes, it should be the same as original BERT, though RoBERTa and BERT use different subwords schemes.

[2020-04-14 13:39] #1906 closed

[2020-04-14 13:40] huihuifan commented on #1905
This is too vague, which pretrained model are you referring to?

[2020-04-14 13:40] huihuifan commented on #1900
@alexeib

[2020-04-14 13:41] huihuifan commented on #1899
@ngoyal2707 @yinhanliu

[2020-04-14 13:41] huihuifan commented on #1898
@alexeib

[2020-04-14 13:41] huihuifan commented on #1885
@alexeib

[2020-04-14 15:41] joshim5 commented on #2002
The LSTM Language Model in fairseq is a decoder-only model, so it does not support attention over encoder inputs. The line you mention is correct, but we should disable the option to use `--decoder-attention`

[2020-04-14 17:28] #1983 closed

[2020-04-14 20:02] yinhanliu commented on #1907
I think this is solved.

[2020-04-14 20:06] yinhanliu commented on #1925
@ngoyal2707 can you take a look? I won't have time until this weekend.

[2020-04-14 21:18] skurzhanskyi opened #2015 "How to save model output from fairseq-generate?"
I just follow the tutorial and stuck on this command:
[code]
How can I save model output on test part of my data? I spent a solid amount of time, but didn't find the answer. I found `--results-path` argument, but for some reason, it doesn't work for me and save data in a strange format, like `H- ...`.  Is there just to save the model output (predictions) on particular data?
Sorry, if this question

[2020-04-15 00:01] myleott commented on #2009
We include both results in the paper.

We report 43.2 BLEU with compound splitting. The compound splitting is built-in to the [preprocessing script](https://github.com/pytorch/fairseq/blob/master/examples/translation/prepare-wmt14en2fr.sh#L89)).

We also report 41.4 detokenized BLEU without compound splitting, using sacrebleu. We use the Moses detokenizer.

[2020-04-15 00:01] #2009 closed

[2020-04-15 00:17] gaopengcuhk commented on #2009
bash scripts/compound_split_bleu.sh wmt16_gen.txt

Can I use compound split bleu on En-Fr?

[2020-04-15 01:48] alexeib commented on #1900
we only use features from the final layer

[2020-04-15 01:48] #1900 closed

[2020-04-15 01:49] alexeib commented on #1898
in vq-wav2vec paper we keep the model frozen - we actually extract features and dump them to disk because the model is pytorch in python and wav2letter is in c++

but see one of our follow up papers where we fine-tune bert directly and obtain better results: https://arxiv.org/abs/1911.03912

[2020-04-15 01:49] #1898 closed

[2020-04-15 01:51] alexeib commented on #1885
what does "bad performance" mean? what dxoes the loss look like during pretraining? what is your dataset? what format are the audio files? what parameters did you use for training incl the number of gpus?

[2020-04-15 04:47] zhangxinlu16 commented on #2010
I set CUDA_HOME in os.environ, but it's still not work. How did you set it up?

[2020-04-15 04:54] luogen1996 opened #2017 "What does the args in decoder layer ,e.g., 'prev_attn_state', 'prev_conv_state', use for? I have not found any usage of this args."
for example, in LightConvDecoderLayer, there are some args which is set to `None` . I have not found  where these  args are assigned some values:
[code]

[2020-04-15 04:55] Ir1d commented on #2010
`export CUDA_HOME = xxx` the `xxx` folder contains some version.txt.
Then run setup.py again, you'll see there's a line saying libnat_cuda was built.

[2020-04-15 07:03] vicoof commented on #1988
Indeed, one label is way more present than the others but when I remove it, the model predicts another one all the time...
Thanks anyway,

[2020-04-15 07:16] zhangxinlu16 commented on #2010
Thanks, I have solved it!

[2020-04-15 07:16] #2010 closed

[2020-04-15 07:35] memeda commented on #2007
Sorry, but may be you missed my key points.
the PGN use the uncased CNNDM, while the BART use the cased CNNDM. So I'm wondering why use Cased? and how it maters?
because BART is merged to the fairseq, so I have to asked here.

[2020-04-15 08:12] louismartin commented on #1988
Maybe you could try on the same datasets that we used in the paper.
If you take the french part of the XNLI dataset, you can finetune using these instructions (MNLI part) .
You could also create a very simple dummy synthetic dataset to check that the training procedure works well. For instance a dataset where the label is the number of words or something like this.

[2020-04-15 10:19] davkovacs opened #2018 "Learning rate changes when restarting training from checkpoint"
## 🐛 Bug

When training a Levensthein Transformer model and trying to restart training from a checkpoint the learning rate, that should be fixed changes to a small value.
This is the log for writing the checkpoint:
[code]
The learning rate is 0.005 as is set in the input file. but when restarting training using the `--restore-file checkpoint_774_140000.pt` The learning rate is not fixed any more a

[2020-04-15 10:35] alphadl opened #2019 "The right process to properly train the NAT models with fairseq"
Recently, when I training [NAT models](https://github.com/pytorch/fairseq/blob/master/examples/nonautoregressive_translation/scripts.md) with fairseq, I encountered many problems, such as segment fault, CUDA_error etc., I checked a lot of issues, but found that there is no right solution under the master branch.

After kinds of exploration, I finally installed it correctly. You can reproduce it wi

[2020-04-15 11:44] forestnoobie commented on #1952
Can you specify the part that you missed?
I am facing the same error and I can't find the part about that the file must exist in a
certain directory

[2020-04-15 14:21] Alex-Fabbri commented on #2015
You can just grep what's in your --results-path file to get the output. Otherwise afaik there isn't a way to get just the outputs.

grep ^T output.txt | cut -f2-  > target.txt
grep ^H output.txt | cut -f3-  > hypotheses.txt

[2020-04-15 15:05] NinaHristozovaTR commented on #1293
And same here.

[2020-04-15 17:06] rawkintrevo commented on #1952
Wherever your fairseq is installed, there is a directory called models. You need to put your code in that directory.

It's in this file: https://github.com/pytorch/fairseq/blob/master/docs/tutorial_classifying_names.rst

Do a Ctrl+F for `fairseq/models` and you'll see the part.

[2020-04-15 17:10] myleott commented on #2009
No, don't use the `compound_split_bleu.sh` script for En-Fr. The underlying data already has compound splitting built-in. The BLEU score output from `fairseq-generate (...) --remove-bpe` can be reported directly as the compount-split BLEU score.

[2020-04-15 17:11] myleott commented on #2000
I'd recommend measuring FLOPs for an average-length source and target sequence.

[2020-04-15 17:13] myleott commented on #1990
You're probably using `fairseq-interactive`, right? In that case, `--buffer-size` controls how many lines are read before generation happens. So just set `buffer-size=2000` and it should be fine. It will read 2000 lines and construct batches of size 128 out of it.

[2020-04-15 17:15] myleott commented on #2015
Yep, @Alex-Fabbri is right!

[2020-04-15 17:15] #2015 closed

[2020-04-15 17:24] skurzhanskyi commented on #2015
Thanks for the swift answer

[2020-04-15 18:05] dkavaler commented on #1785
[This recent commit](https://github.com/pytorch/fairseq/commit/6563407fcb84be52a5cf0e2e64f9230b97271e59) removed the assertion line, but didn't address the core issue of `eos_idx` being set incorrectly.

In an example vocabulary of size 16384, with `--add-lang-token` for two languages (adding vocabulary indices 16385 and 16386 to be EOS for each language), in the `copy_tensor` call prior to settin

[2020-04-15 18:26] JustCunn commented on #1990
Yeah it must’ve been an issue like that. Whatever it was, it’s gone now, so that’s all good. Thanks for that though!

[2020-04-16 00:55] YeWenting opened #2020 "How to extract_feature with XLMR using multiple GPU"
#### What is your question?
How to extract_feature with XLMR using multiple GPU? If I use the following code with DataParallel() I can only utilize a single GPU..

#### Code

xlmr = torch.hub.load('pytorch/fairseq', 'xlmr.large')
xlmr.eval()
xlmr = xlmr.cuda()
xlmr = nn.DataParallel(xlmr)

with open("XLMR_embedding.txt", "w") as out_f:
    for data in tqdm(loader):
        for key in data:

[2020-04-16 01:37] zelabean commented on #1885
Dear alexeib,
Many thanks for response my question.

**1. what does "bad performance" mean?**
I'm evaluate performance of wav2vec on korean ASR task ( wav2letter ). When using libri-large wav2vec on asr , performance improved. But when using other korean dataset, then performance worse.

**2. what does the loss look like during pretraining?**
During pre-training, loss are looks good. down to 1.4xx

[2020-04-16 03:51] ajd12342 commented on #2008
I found out a bug in my code that probably isn't caused by the `--unkpen`. Thus I am closing this.

[2020-04-16 03:51] #2008 closed

[2020-04-16 04:57] gaopengcuhk commented on #2000
I will calculate the total Multiplication and addition number of transformer on TEST dataset as a FLOPs evaludation.

Do you think this is reasonable?

[2020-04-16 05:03] gaopengcuhk commented on #2000
Also, I will setup Beam Search Size as 1.

[2020-04-16 11:18] Liatwilight commented on #2013
I`ve tried to reduce the UPDATE_FREQ from 4 to 3 and set the max-sentences to 1. However, it still encounters the same problem.

[2020-04-16 14:01] didge-rydu commented on #1883
I'm not an author of this repository but I can tell you that BART is not a language model, so the definition of LM perplexity does not really apply here. You would have to get creative.
People have tried to do this with BERT (which is also not a language model) so that might be a good starting point for you to search.

[2020-04-16 19:21] HoiBunCa commented on #1224
where  is "#include <mman.c>" ?

[2020-04-17 03:21] swethathomas commented on #1538
Hi @ngoyal2707  I'm trying to fine tune XLM-R on the XNLI dataset.  Would it be possible for you to upload the fine-tuning cmds when convenient this would be very helpful! Thank you so much.

[2020-04-17 04:26] YeWenting commented on #1538
Hi @ngoyal2707 I'm trying to fine tune XLM-R on my own dataset. Your work is impressive and I am very appreciate your help! Thank you so much!

[2020-04-17 05:54] Ir1d commented on #2003
I'm reopening this issue because I couldn't achieve ideal result (BLEU > 10) when using my generated distillation dataset. And I'm afraid there's something wrong in the generation process.

@MultiPath Could you guide me a little bit on this?

After running the above mentioned commands, I get a lot of meaningless words in my results.

![image](https://user-images.githubusercontent.com/10709657/7953

[2020-04-17 12:32] blackcat84 commented on #1924
Are you sure the languages need to be different? I was able to run the code by simply naming source and target language as src and tgt (in argument parsing), but having in reality the same language in input and output

[2020-04-17 12:45] didge-rydu commented on #1924
Ok that is interesting. So you just ran
train.py --source-lang src --target-lang tgt ..
I initially thought that these command line arguments are used for more things than just loading the dataset, but maybe this is in fact the intended way to use them. For mBART, the dictionary is the same anyways for all languages.

[2020-04-17 12:53] blackcat84 commented on #1924
Yes I think that should be fine, this is similar to what is suggested for the monolingual BART here
https://github.com/pytorch/fairseq/blob/master/examples/bart/README.summarization.md
expect I had to change the task from translation to translation from pretrained

[2020-04-17 20:38] yuyan2do commented on #1982
Only sarcrebleu require install **mecab-python3**, which cause error when build in windows. Remove it from setup.py unblock me build this project.

Remove this line. https://github.com/pytorch/fairseq/blob/v0.9.0/setup.py#L141

[2020-04-17 21:26] villmow opened #2022 "Recent SequenceGenerator update makes it unusable with sub-classes that have a different `net_input`"
## 🐛 Bug

This is not a real bug, I rather want to discuss a recent change in master.

**Situation**: My (transformer) encoder sub-class needs additional input during the forward path. Currently I'm feeding this to my encoder by adding it to the `net_input` dictionary. During validation/generation I need the additional input as well. This worked out of the box for generation, because the generator

[2020-04-18 00:11] swethathomas commented on #1415
Hi! I just wanted to know if  fine tuning XLM-R is similar to finetuning Roberta?

[2020-04-18 00:27] yukiyakiZ commented on #1410
Have the same problem. Any help would be appreciated.

[2020-04-18 03:22] zixiliuUSC opened #2023 "get different size of dictionary in preprocessing and subword-nmt get-vocab"
## 🐛 Bug

### To Reproduce

Steps to reproduce the behavior:

1. Run the following command and get results as showing blow the code
[code]
result:
[code]
2. get dictionary using subword-nmt
[code]
manually check the size of english vocab, which is 6628 and for german, it is 8842.
So, there is a small difference in the dictionary size, and I want to know why the difference happen.

### Expected beh

[2020-04-18 03:24] shola-lawal opened #2024 "MBART Training: Missing mbart_large model architecture"
Hi,
I am trying to follow the **mbart training step** in [fairseq/examples/mbart/README.md](https://github.com/pytorch/fairseq/blob/5e79322b3a4a9e9a11525377d3dda7ac520b921c/examples/mbart/README.md), however it appears that _mbart_large_ is missing in the list of available installed fairseq model architectures.

Could you advise on where I can find the mbart.large model?

_**Below is the error tha

[2020-04-18 04:53] gvskalyan commented on #2024
Please install fairseq from master and check, since last released version 0.9.0 is before mBART [commit](https://github.com/pytorch/fairseq/commit/5e79322b3a4a9e9a11525377d3dda7ac520b921c).

[2020-04-18 12:23] shola-lawal commented on #2024
Hi  @gvskalyan,

Thank you for the feedback. It worked!!
[code]
One last question, I am translating en ->gu. I am not sure if I am interpretating the language tags below. Could you kindly explain what the en_XX, gu_IN and ar_AR values mean in context to langs variable below?
`langs=ar_AR,cs_CZ,de_DE,en_XX,es_XX,et_EE,fi_FI,fr_XX,gu_IN,hi_IN,it_IT,ja_XX,kk_KZ,ko_KR,lt_LT,lv_LV,my_MM,ne_NP,nl_XX,ro_

[2020-04-18 13:00] gvskalyan commented on #2024
I suppose, since few Languages are spoken in  many countries across the world. In order to differentiate a language spoken in a country/ region, it is appended with the region code.
en_XX - XX might mean english spoken in any or every region.
gu_IN - gujarathi with Indian code.
ar_AR - ar would mean arabic but I am unsure of which part it is, might mean Saudi Arabia. [Source](http://www.lingoes.ne

[2020-04-18 13:38] #2024 closed

[2020-04-18 21:11] ngoyal2707 commented on #1925
@moyid can you please try giving `replace-length` as `span-poisson`

[2020-04-18 21:11] #1925 closed

[2020-04-18 21:14] ngoyal2707 commented on #1884
@moyid yes the pretraining included document-level input. In our pretrained data, we know the document boundaries and while pretraining `mBART`, we used `complete-doc` mode [here](https://github.com/pytorch/fairseq/blob/master/fairseq/data/token_block_dataset.py#L25) where instances won't cross document boundary.

[2020-04-18 21:14] #1884 closed

[2020-04-18 21:46] swethathomas opened #2025 "How to Preprocess Files for fine tuning XLM-R?"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

#### Code

#### What have you tried?

#### What's your environment?

 - fairseq Version (e.g., 1.0 or master):
 - PyTorch Version (e.g., 1.0)
 - OS (e.g., Linux):
 - How you installed fairseq (`pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 -

[2020-04-19 08:08] logicwong opened #2026 "When I use generate.py, I get different bleu compare to validate"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?

#### Code

#### What have you tried?

#### What's your environment?

 - fairseq Version (e.g., 1.0 or master):
 - PyTorch Version (e.g., 1.0)
 - OS (e.g., Linux):
 - How you installed fairseq (`pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 -

[2020-04-19 08:33] #2026 closed

[2020-04-19 14:42] mgaido91 opened #2027 "max_positions with tuple of size > 2 returns a tuple of size 2"
## 🐛 Bug

This problem appears adding a custom task in which the `max_positions` is a tuple of size 3 (or more).  In this case, currently fairseq ignores all elements after the 2nd in the tuple, when resolving the actual max_positions.

The cause is the implementation of `_match_types`, which assumes tuples to have size 2.

### To Reproduce

Add a custom task with `max_postions` returning a tuple

[2020-04-19 15:52] #1986 closed

[2020-04-19 16:13] redionxhepa opened #2029 "invalid choice: 'simple_classification'"
I am trying to use the fairseq toolkit for the first time and I have started from the ready tutorials. In the character level RNN example,i.e
https://fairseq.readthedocs.io/en/latest/tutorial_classifying_names.html.

I was able to perform the following steps :
1)Preprocessing the data to create dictionaries.
2)Registering a new Model that encodes an input sentence with a simple RNN and predicts th

[2020-04-19 19:03] nomadlx commented on #1609
How did you solve the problem? I had the same problem.

[2020-04-20 07:30] alphadl commented on #1428
@Varal7 Have you reproduced the result? I met the same question with you, where I trained on the distilled data and got only 21.61 BLEU

[2020-04-20 07:36] alphadl commented on #1523
@spprabhu Have you reproduced the result reported in the paper?

[2020-04-20 10:44] akhileshgotmare opened #2031 "Runtime error Missing key(s) in state_dict: "decoder.output_projection.weight". when loading NMT models from torch.hub"
Getting this error when trying to load Transformer NMT models from torch.hub
Have tried running it on Google Colab shared at https://pytorch.org/hub/pytorch_fairseq_translation/ - (https://colab.research.google.com/github/pytorch/pytorch.github.io/blob/master/assets/hub/pytorch_fairseq_translation.ipynb) and also with pytorch latest docker image.

[code]

[code]

[2020-04-20 11:34] akhileshgotmare commented on #2031
Was able to bypass this by replacing `transformer.py` at `/root/.cache/torch/hub/pytorch_fairseq_master/fairseq/models/` to the one before this commit - https://github.com/pytorch/fairseq/commit/6379573c9e56620b6b4ddeb114b030a0568ce7fe

[2020-04-20 13:18] villmow commented on #2023
`fairseq-proprocess` has the following arg `--padding-factor      Pad dictionary size to be multiple of N Default: 8`.

Made-up tokens are added to the dictionary to have a vocab size which is a multiple of 8 (look at the bottom of your dictionary).

[2020-04-20 13:24] hitvoice commented on #739
If you run this on CPUs, the error will probably throw from the correct line.
Of course, there's nothing wrong with dropout :)

[2020-04-20 13:34] lematt1991 commented on #1640
Can you try running with `CUDA_LAUNCH_BLOCKING=1`.

[2020-04-20 13:35] lematt1991 commented on #1751
Please follow the issue templates.

[2020-04-20 13:35] #1751 closed

[2020-04-20 13:47] lematt1991 commented on #2029
Please follow the issue template.  Specifically, include which tutorial you are following, what command you ran, and a paste of the full backtrace and error you are seeing.

[2020-04-20 13:51] lematt1991 commented on #2023
Yes, as @villmow said, fairseq will add dummy tokens to pad the dictionary to even multiple of `--padding-factor`.  You can confirm by looking at the last few tokens in the dictionary (`madeupword0000`, `madeupword0001`, etc.).

[2020-04-20 13:51] #2023 closed

[2020-04-20 15:58] ethanjperez commented on #1145
I find the same issue when fine-tuning BART on CNNDM with fp16 as described in the official [instructions](https://github.com/pytorch/fairseq/blob/master/examples/bart/README.summarization.md). The issue only occurs on a 1080ti GPU but not a 2080ti GPU. I'm using a Python 3.7 conda env (Anaconda 3) with pytorch 1.4, CUDA 10.1, GCC 7.4. Is this an apex issue?

[2020-04-20 16:12] redionxhepa commented on #2029
Hopefully the new information is enough !

[2020-04-20 16:18] lematt1991 commented on #2029
How did you install fairseq?  do `python -c "import fairseq; print(fairseq.__file__)"` and ensure that it corresponds to the same directory your new task is in.

[2020-04-20 16:22] redionxhepa commented on #2029
Since I am using Colab notebook,I do the following :

from google.colab import drive
drive.mount("/content/gdrive")
%cd "/content/gdrive/My Drive/Colab Notebooks"
!pip install fairseq
!git clone https://github.com/pytorch/fairseq
%cd fairseq

So the fairseq folder gets cloned into Colab Notebooks folder in my Google Drive. Thanks !

[2020-04-20 16:23] lematt1991 commented on #2029
Sure, but the fairseq that you `pip` installed is different than the one that you cloned.  Instead of doing `pip install fairseq`, you should `cd` into your local checkout and run `pip install --editable .`

[2020-04-20 16:47] redionxhepa commented on #2029
Thank you that solved my problem ! I spent 5 days on this small issue !

[2020-04-20 16:47] #2029 closed

[2020-04-20 17:51] lematt1991 commented on #2019
Do you have an open issue regarding the seg fault/CUDA errors that you observed?  The proper solution is to get these issues resolved, rather than to update the docs telling people to checkout a specific commit.

[2020-04-20 21:31] ever4244 opened #2033 "Replicate result from a multi GPU training with less GPUs"
Hi:

   When I am reimplementing the baseline result from some paper I am always confused by the batch size issue.

   For example, if a paper says the training is done with max-token 4000, trained with 8 GPUs, then I assume the effect batch size is 4000x8 =32000

  If I only have 2 GPU, then if I want to get to as closer performance as possible, I should set the update frequency to 4?
  So that m

[2020-04-20 21:33] myleott commented on #2031
Thanks, we're reverting 6379573c9e56620b6b4ddeb114b030a0568ce7fe.

Besides breaking backwards compatibility, it also doesn't tie weights properly.

[2020-04-20 22:45] jpyneni3 commented on #2031
I am having the same issue and I don't understand how you fixed it

[2020-04-21 00:12] #1883 closed

[2020-04-21 07:46] #1945 closed

[2020-04-21 09:42] sgxthsat2019 commented on #1931
Hi，
can you share me how you deal with this problem? I just have 8k audios and the wav2vec model doesn't work well.
Thanks a lot!

[2020-04-21 09:43] sgxthsat2019 commented on #1931
@alexeib

[2020-04-21 10:50] spprabhu commented on #1523
Yes, But I didn't get the same results.
I could translate 3003 sentences in 9.3 sec with test beam size 4 and BLEU4 = 23.87
But I could only train it for 230000 steps and I used 1V100 using --fp16
The training lasted for about 15 hrs

[2020-04-21 10:52] spprabhu commented on #1523
Also if you want to translate just a single sentence at a time the BLEU decreases significantly.

[2020-04-21 10:54] spprabhu commented on #1523
Hi @alphadl did you get the exact results

[2020-04-21 12:27] aliasneo1 opened #2034 "How to control the randomness of BART summary output?"
Currently BART model trained on CNN dataset  is producing random nouns which are not actually present in the actual input text in certain instances. Is there a way to control the degree of randomness of the output ? (something similar like temperature parameter in GPT-2 model)

[2020-04-21 12:55] lematt1991 commented on #2034
Can you be more specific.  What command are you running?  What is the output that you are seeing?  Please follow the issue templates.

[2020-04-21 12:57] lematt1991 commented on #2033
Yes, your understanding is correct.

It should only affect the runtime performance.  It should not affect the quality of the results.

[2020-04-21 12:57] #2033 closed

[2020-04-21 13:00] lematt1991 commented on #2031
This should now be resolved by #2032.  @akhileshgotmare can you confirm if you pull `master`?

[2020-04-21 13:01] #2027 closed

[2020-04-21 13:01] lematt1991 commented on #2020
CC @ngoyal2707 , is this supported?

[2020-04-21 13:13] lematt1991 commented on #2017
You're right, this does in fact seem to be unused.  I also can't find any use of it searching through the commit history.  Maybe @myleott knows?  Either way, it seems it can probably be removed.

[2020-04-21 13:16] lematt1991 commented on #2025
The [checkpoint files](https://github.com/pytorch/fairseq/blob/master/examples/xlmr/README.md#pre-trained-models) contain sentencepiece models as well as the dictionaries.  You should apply the sentencepiece model to your text, and then use fairseq-preprocess with the provided dictionaries.

[2020-04-21 13:20] aliasneo1 commented on #2034
@lematt1991  When I am generating summaries using CNN model, some of generated summaries had proper nouns like New York Times etc.. which are not actually present in the input text.

Is there way to control the model's output randomness (mostly in the abstractive part) like temperature parameter in GPT-2?

I am using typical prediction code as given below.

import torch
from fairseq.models.bart im

[2020-04-21 13:39] lematt1991 commented on #2034
You can add specify a `temperature` parameter when you call `bart.sample`.  [Here](https://github.com/pytorch/fairseq/blob/master/fairseq/tasks/fairseq_task.py#L300-L309) is the set of parameters that will get forwarded to the sequence generator when calling `sample`.

[2020-04-21 13:39] #2034 closed

[2020-04-21 13:47] #2025 closed

[2020-04-21 16:04] ylmeng opened #2036 "fairseq-generate shuffles test data?"
The results generated from fairseq-generate are shuffled. I am not sure if it is caused by fairseq-preprocess or fairseq-generate, but sometimes we want the results to be in the original order. I suspect it is a way to make batches in optimal shapes.
Although it is not hard to order them based on the 'H-XXX' prefix of each line, I wonder if there is any feature/mechanism to avoid the shuffling of

[2020-04-21 16:08] joshim5 commented on #2002
@lematt1991: I will open a PR to remove the `--decoder-attention` argument. If this option is not used, then the model should train correctly.

[2020-04-21 16:13] ylmeng opened #2037 "fairseq-generate shuffles test data?"
The results generated from fairseq-generate are shuffled. I am not sure if it is caused by fairseq-preprocess or fairseq-generate, but sometimes we want the results to be in the original order. I suspect it is a way to make batches in optimal shapes.
Although it is not hard to order them based on the 'H-XXX' prefix of each line, I wonder if there is any feature/mechanism to avoid the shuffling of

[2020-04-21 16:21] ylmeng commented on #2037
Sorry duplicated question due to internet issues.

[2020-04-21 16:21] #2037 closed

[2020-04-21 18:25] lematt1991 commented on #2036
Yes, you should sort the results after the fact based on the `H-XXX` prefix.  The order is not preserved when using generate, because we sort sequences by length to minimize padding and increase efficiency.  This is not the case for interactive, since you don't have all the sequences up front to sort.

[2020-04-21 18:25] #2036 closed

[2020-04-21 19:28] redionxhepa opened #2039 "FileNotFoundError: [Errno 2] No such file or directory: '/train.de'"
I am trying to preprocess the IWSLT 2014 (German-English) dataset using the code provided in the documentation,namely in https://fairseq.readthedocs.io/en/latest/getting_started.html#training-a-new-model.
So I type the following :
%cd "/content/gdrive/My Drive/Colab Notebooks/fairseq"
%cd examples/translation/
!bash prepare-iwslt14.sh
!cd ../..
!TEXT=examples/translation/iwslt14.tokenized.de-en
!f

[2020-04-21 20:13] lematt1991 commented on #2039
I think the problem is that your `TRAIN` env variable is no longer live when you run `fairseq-preprocess`, although hard to say for sure, I'm not really familiar with colab.  Try doing:

[code]

[2020-04-21 20:34] redionxhepa commented on #2039
I tried to subsitute "Text" variable everywhere the same issue persists.The thing is that this command seems to run and after some time it encounters this issue.So it comes until this stage and then it gets the error above.Maybe there is some issue with the "iwslt14.tokenized.de-en " file,I don't know.
".........
orig/de-en/IWSLT14.TED.tst2012.de-en.en.xml iwslt14.tokenized.de-en/tmp/IWSLT14.TED.t

[2020-04-21 20:42] lematt1991 commented on #2039
I'm confused, is the problem you are having with `prepare-iwslt14.sh` or with the `fairseq-preprocess` command?  The first error you posted comes from fairseq-preprocess, but the second log you posted comes from `prepare-iwslt14.sh`.  If `prepare-iwslt14.sh` completes successfully you should have the following files:

[code]

[2020-04-21 20:48] redionxhepa commented on #2039
Yeah you are right the second log comes from prepare-iwslt14.sh(I thought the command as a whole previously). The problem lies with fairseq preprocess command, unfortunately!.

[2020-04-21 20:49] lematt1991 commented on #2039
Did the `prepare-iwslt14.sh` command finish without errors?  I.e. do you have all the files that I listed in my last comment, and are those files non-empty?

[2020-04-21 20:54] redionxhepa commented on #2039
Yeah sir the prepare-iwslt14.sh command finished without errors and all the files you listed are there and non-empty.So for sure the issue lies at the preprocess command.Thanks !

[2020-04-21 20:57] lematt1991 commented on #2039
If the error that you are seeing is `FileNotFoundError: [Errno 2] No such file or directory: '/train.de'`, then you are not calling the command correctly.  As you can see the `TEXT` env variable is empty, it should be `examples/translation/iwslt14.tokenized.de-en/train.de`, but the `examples/translation/iwslt14.tokenized.de-en` is getting lost when you call it.  There is not an issue with `prepare

[2020-04-21 21:04] redionxhepa commented on #2039
If the issue would be with the TEXT env variable wouldn't be enough to just replace it everywhere where "TEXT" is written and type instead the full directory ? If yes, I tried to do that still the same issue.

[2020-04-21 21:07] lematt1991 commented on #2039
So just to be clear, you are running:

[code]

And you are still seeing the error `FileNotFoundError: [Errno 2] No such file or directory: '/train.de'`.

[2020-04-21 21:11] redionxhepa commented on #2039
Yeah I did that and I got the same issue.But I found out where the problem is .I changed the directory just before the preprocess command the main directory where "fairseq" is and it worked.Anyways thanks a lot.So I think  the issue is  with "!cd ../.." which is in the documentation and I don't know what it is doing.Again thanks a lot for your fast responses.Nice job !

[2020-04-21 21:11] #2039 closed

[2020-04-22 02:22] zqs01 opened #2041 "spm_train and spm_encode: command not found"
Merge all train packs into one
Merge train text
dictionary: data/lang_char/train_100_unigram5000_units.txt
Dictionary preparation
./examples/speech_recognition/datasets/prepare-librispeech.sh: line 71: spm_train: command not found
./examples/speech_recognition/datasets/prepare-librispeech.sh: line 72: spm_encode: command not found
3 data/lang_char/train_100_unigram5000_units.txt
Prepare train and

[2020-04-22 02:54] akhileshgotmare commented on #2031
Yes, I can load the models after the revert, thanks!

[2020-04-22 02:54] #2031 closed

[2020-04-22 08:11] mohammadKhalifa opened #2042 "Masked LM training with BERT fails"
Training with a masked lm objective as follows:
[code]

Gives me the following exception:
[code]

The same error occurs when using other `masked_lm` architectures such as xlm_base. Roberta architectures work fine.

[2020-04-22 08:53] steremma opened #2043 "Using Levenshtein Transformer for APE"
## 🚀 Feature Request
The [original paper](https://arxiv.org/abs/1905.11006) claims that the unaltered Levenshtein Transformer architecture can be used for refinement, for example the last sentence in their abstract:

Is this capability supported? If so, could an example be added in the appropriate `README`? If not, are there any plans to work on it?

### Motivation

Being able to translate and pos

[2020-04-22 09:20] muhammadfahid51 commented on #1514
@julien-c great thread this has come out to be.
What I want to do is pretrain Roberta from scratch using G-Cloud tpu with fairseq.
Then convert those .pt weights to pytorch.bin
What I want is I am using tensorflow or inference.
I convert pytorch.bin weights to tf_model.h5 right ?
OR can I directly convert .pt model to tensorflow_model.h5 etc ?
Thanks

[2020-04-22 10:40] HAWLYQ opened #2044 "assert torch.all(all_layers[-1] == last_layer_features)"
## ❓ Questions and Help

### Before asking:
1. search the issues.
2. search the docs.

#### What is your question?
Hi, @myleott , I meet an AssertionError when I run the demo code to extract features from RoBERTa. It shows the last layer features is not the same as 'all_layers[-1]'.
#### Code
import torch
roberta = torch.hub.load('pytorch/fairseq', 'roberta.large')
tokens = roberta.encode('Hello w

[2020-04-22 12:46] lematt1991 commented on #2041
Did you install sentencepiece like the instructions say?

[2020-04-22 12:48] lematt1991 commented on #2043
CC @kahne

[2020-04-22 14:23] zqs01 commented on #2041
I have solved this problem, thank you!

[2020-04-22 14:24] zqs01 commented on #2041
I have solved this problem, thank you!

[2020-04-22 14:24] #2041 closed

[2020-04-22 14:43] lematt1991 commented on #2042
Confirmed that I can reproduce this on my end.  CC @ngoyal2707 @myleott, it seems that 718677ebb044e27aaf1a30640c2f7ab6b8fa8509 breaks `MaskedLMModel`

[2020-04-22 14:51] lukovnikov commented on #1936
Having a smaller mBART available would be very helpful for quicker development and debugging on weaker devices, even if it performs poorly.

[2020-04-22 15:03] vicoof commented on #1988
Hi,
Looks like I messed with the labeling phase. I didn't understand well the mask and the padding goal. In fact, I added the label 0 for 'Unused label' which should be the label for the padded input. I didn't know that Bert was taking care of this already.
Anyway, it's working fine now...

[2020-04-22 15:03] #1988 closed

[2020-04-22 15:08] vicoof commented on #1988
Hi,
Looks like I messed up with the labeling phase. I didn't understand well the mask and the padding goal. In fact, I added the id label 0 for 'Unused input' which should be the label for the padding inputs. By doing this, I added a label which was not considered for my initial NER task ( like PERS, LOC or ORG) . So the algorithm abviously didn't work well. I didn't know that Bert was already tak

[2020-04-22 15:09] moussaKam commented on #1758
Hi @mjpost
I'm trying to reproduce the work you have done to find the auto-encoder score.

I deleted the layernnorm embeddings layers:

[code]

Then I updated the dictionary:
[code]

Then I pre-processed some english sentences:
[code]

Finally I translated using the pre-trained model:
[code]
However I am getting very weird output, for example:
[code]
and:
[code]

Am I missing something?

[2020-04-22 15:17] mcggood opened #2045 "'multilingual_denoising' task not supported"
## 🐛 Bug

When I load bart large model. (multi-lang-bart in fact)
bart = BARTModel.from_pretrained('PATH', checkpoint_file='model.pt')
I got this error
KeyError: 'multilingual_denoising'

While in the model file. in args, task='multilingual_denoising'. this task seems not supported by fairseq.
### To Reproduce

bart = BARTModel.from_pretrained('PATH', checkpoint_file='model.pt')

[2020-04-22 15:39] lematt1991 commented on #2045
What command did you use to train `model.pt`?  Also, please provide the full trace of the error you are seeing.

[2020-04-22 15:43] mcggood commented on #2045
I don't use command. I don't train. I just want to load multi language mbart pretrained model.
bart = BARTModel.from_pretrained('PATH', checkpoint_file='model.pt')
the "PATH" is the files containing dict.txt, model.pt, sentence.bpe.model

[2020-04-22 18:23] dawndrain commented on #1626
I've been trying to adapt Huggingface's GPT2 small model. There are several things I've done to get this to work:
- Use a dict.txt where the words are in the same order as their indices in HF's gpt2 tokenizer (i.e. '!' has index 0).
- Train fairseq's hf_gpt2 for one dummy epoch to gain access to its checkpoint1.pt file
- Load Huggingface's pretrained gpt2 model
- Use this code to adapt parameters